/*****************************************************************************/
/* Global CSS Styles */
/*****************************************************************************/


/*=================================
=            Login Box            =
=================================*/

#login-box {
  background-color: #edeff1;
  padding: 25px;
  max-width: 400px;
  margin: 50px auto;
  text-align: center;
}

#login-box h4 {
  margin-bottom: 35px;
}

#login-box p small em {
  color: #e74c3c;
}

.forgotPassword {
  font-size: 14px;
  color: #34495D;
}

#login-box li.dropdown {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

#login-box li.dropdown .dropdown-menu {
  float: none;
  position: relative;
  background-color: #ffffff;
}

#login-box li.dropdown .dropdown-menu .alert-danger {
  color: #a94442;
}

#login-box li.dropdown .dropdown-menu:after  {
visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;

}



/*-----  End of Login Box  ------*/

.box_border {
  margin-bottom: 20px;
  padding: 15px;
  width: auto !important;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.navbar {
	margin-bottom: 10px;
}

.fixLoginButton {
  display: block;
  padding: 12px 21px;
}

.fixLoginButton .dropdown-menu {
  background-color: #34495e;
  right: -20px;
  top: 40px;
}


.btn-agregar {
	margin-left: 15px;
}

#filter_div {
	margin-top: 27px;
}

#infoParticipante h6, #form-participante h6, .h6-new {
  padding-left: 14px;
  padding-bottom: 5px;
  padding-top: 10px;
  border-bottom: 4px solid #dddddd;
}

#infoParticipante, #box_border_container {
	font-size: 16px;
}

.show-overflow {
	overflow: visible;
}

.imagen-zoom-container {
  position: relative;
  top: 0px;
  display: none;
  z-index: 999999;
}

.imagen-zoom {
  position: absolute;
  top: -220px;
  left: -70px;
}

.imagen-zoom img {
  border: 3px solid #dddddd;
}

.columna_foto {
  padding-top: 3px !important;
  padding-bottom: 3px !important;
}

.columna_estrellas, .columna_edad {
	text-align: center;
  min-width: 50px;
}

.columna_escolarizado, .columna_sexo, .columna_dni {
  text-align: center;
}

.columna_documentos {
	white-space: nowrap;
	text-align: center;
  min-width: 50px;
}

.columna_documentos span {
  font-size: 16px;
  margin: 0px 3px;
}

.documento_no_presentado {
  color: #dddddd; 
}

.dropdown-filter {
  border: 1px solid #34495E;
  padding: 0 8px;
}

.dropdown-filter label {
  padding-top: 2px !important;
}

.filter-table {
  font-size: 16px;
}

.rowInactivo {
  /*opacity: 0.5;*/
  background-color: #FFE5E5 !important;
}

.estrella {
	font-size: 18px;
	color: #FEDE8D;
	padding: 0 4px;
}

.estrella-off {
	color: #DDDDDD;
}

.estrellas_info, .btnParticipanteActivo {
  border: 1px solid #dddddd;
  border-radius: 6px;
  padding: 4px;
  text-align: center;
  display: block;
  margin-bottom: 10px;
}

.btnParticipanteActivo {
}

.quitar_estrella_text, .quitar_estrella_text:hover {
	color: #ffffff;
}

a.noDecoration {
	color: inherit;
	margin-top: 1px;
	margin-bottom: 1px;
}

a.noDecoration:hover,
a.noDecoration:focus {
  color: #1abc9c;
  text-decoration: none;
}
a.noDecoration:focus {
  outline: none;
}

.tabla-talleres thead tr th small, .tabla-talleres tbody tr td small {
	color: #bdc3c7;
	font-weight: normal;
}

/* Esta es para que los dias en el form de agregar taller se vean en horizonal */
#fix-for-dias .media-body {
	display: inline-block;	
}

.label-dia-hora {
	font-size: 15px;
	font-weight: normal;
	line-height: 2.3;
	padding-top: 5px;
}

.autoform-padding-fix {
	border: 0;
	padding: 0;
	margin: 0;
}

.autoform-padding-fix ul {
	margin: 0;
	padding: 0;
}

.autoform-padding-fix ul li {
	margin: 0;
	padding: 0;
	border: 0;
}

.autoform-remove-add {
	padding-top: 5px;
}

.autoform-remove-item, .autoform-add-item {
	color: #34495e;
}

.list-group-item.autoform-array-item {
	margin-bottom: 6px;
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

.row-objetivo {
	margin-top: 15px;
}

.btn_acciones {
  font-size: 18px;
  margin-left: 10px;
  color: #34495e;
}

.accionesTablaFamiliares {
  margin-left: 10px;
  color: #34495e;
}

.accionesTablaFamiliares > span {
  font-size: 16px !important;
  top: 1.2em !important;
}


.botones_lista_espera {
	padding: 0 !important;
}

.botones_lista_espera a {
  font-size: 12px;
  margin: 0 5px;
  color: #34495e;
}

.botones_lista_espera a .fui-trash {
  font-size: 15px;
  top: 1.2em;
}

#talleres_checkboxes label {
  font-size: 16px;
  padding-top: 0px !important;
}

#talleres_checkboxes label strong {
  line-height: 1.7;
}

#talleres_checkboxes label .icons {
  margin-top: 2px; 
}

#talleres_checkboxes > span  {
  display: none !important;
}

#talleres_checkboxes div > span  {
  display: none !important;
}

#talleres_checkboxes label.checkbox {
  min-height: 20px;
  margin-bottom: 3px;
  margin-top: 20px;
  padding-top: 0px;
  padding-bottom: 0px !important;
}

#talleres_checkboxes .info_taller_checkboxes p {
  font-size: 12px;
  margin-bottom: 0;
  margin-left: 33px;
  padding: 0;
}

.splitter {
  border-bottom: 3px solid #dddddd;
  padding-top: 20px;
}

.title_small {
  font-size: 18px;
  border-bottom: 1px solid #dddddd !important;
}

.small_line_height {
  line-height: 17px;
}

.edadAnoCalendario {
  margin-top: -10px;
}

/*==================================
=            Familiares            =
==================================*/

.modal_form_familiar .modal-content {
  width: 100%;
}

.modal_form_familiar .modal-dialog {
  width: 70%;
}

.modal_form_familiar .modal-content {
  /*width: 100%;*/
}

#row_relacion_wrapper {
  position: relative;
}

#row_relacion_wrapper {
  position: relative;
}

#row_relacion {
  display: none;
  top: -10px;
  position: absolute;
  background-color: white;
  z-index: 1;
  margin-bottom: 20px;
  margin-left: 15px;
  padding: 15px;
  width: auto !important;
  background-color: #ffffff;
  border: 2px solid #1abc9c;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);

}

#row_relacion:before {
  content: "";
  border-color: transparent transparent #1abc9c;
  border-style: solid;
  border-width: 0 6px 6px;
  height: 0;
  margin-top: 0;
  opacity: 1;
  position: absolute;
  left: 12px;
  top: -8px;
  width: 0;
  z-index: 10000;
}

.agregarFamiliar {
  margin-top: 10px; 
}

.typeaheadHeading {
	margin: 0;
	padding: 6px 14px;
	font-weight: bold;
	font-size: 16px;
	line-height: 1.429;
}

.error-relacion {
	display: none;
}

.icons-familiares {
	padding: 3px !important;
}

.icons-familiares span {
	margin: 0 14px 0 0;
	font-size: 20px;
	/*float: left;*/
}

.borrarRelacion {
	/*top: 50px !important;*/
	/*float: left;*/
	display: inline;
}

.borrarRelacion > span {
	top: -3px !important;
	margin: 0 !important;
	vertical-align: baseline !important;
	font-size: 16px !important;
}

/*===============================
=            Diarios            =
===============================*/

.tituloDiario .tooltip, .tituloDiario .tooltip-inner {
  width: 400px;
  max-width: 400px;
}

/*===================================
=            Asistencias            =
===================================*/

.tabla_asistencias {
    max-width: none !important;
    width: auto !important;
}

.tabla_asistencias th {
  min-width: 52px !important;
  padding: 0;
}

.alumno_totales {
  text-align: center;
}

.column_clase {
  text-align: center;
  padding: 3px 3px !important;
}

.column_clase small {
  line-height: 1.3 !important;
  display: block;
  font-weight: 500;
}

.tabla_form_asistencias {
  margin-top: 15px;
}

.tabla_form_asistencias td div.form-group {
  margin: 0;
}

.tabla_form_asistencias td div.form-group label {
  /*display: none;*/
}

.presente {
    background-color: #7CC576 !important;
}

.ausente {
    background-color: #F26C4F !important;
}

.tardanza {
    background-color: #A2D39C !important;
}

.justificada {
    background-color: #F7977A !important;
}
.div_scroll {
  overflow: auto;
  position:relative; /* Importante! sin esto los botones de editar/borrar aparece en cualquier lado */
}

.editar-clase {
  border: 0px solid red;
  position: absolute;
  height: 52px;
  width: 53px;
  padding-top: 24px;
  top: 2px;
  margin-left: -5px;
  background-color: rgba(255, 255, 255, .8);
  display: none;
}

.editar-clase a {
  color: #34495e;
}

.editar-clase a:hover,
.editar-clase a:focus {
  color: #1abc9c;
  text-decoration: none;
}
.editar-clase a:focus {
  outline: none;
}


.editar-clase a span {
  font-size: 1em !important;
  /*margin: 0 5px !important;*/
}

.column_asistencia_form {
  padding-top: 0 !important;
  min-width: 210px;
  width: 210px;
}

.column_asistencia_form .form-group {
  line-height: 0;
}

.column_asistencia_form .form-group > label:first-child {
  padding-top: 0 !important;
}


.column_asistencia_form .btn-group.af-radio-group {
  display: inline;
  line-height: 0;
}

.reset-asistencia {
  color: #bdc3c7; 
  margin-left: 10px;
  margin-top: 13px;
  font-size: 0.8em !important;
  /*display: none;*/
  display: inline-block;
}

.reset-asistencia:focus {
  color: #bdc3c7;
}

.familiarInfo {
  font-size: 16px;
}

/*-----  End of Asistencias  ------*/

/*=======================================
=            Filters Wrapper            =
=======================================*/

.filters-wrapper {
  background-color: #ecf0f1;
  margin-bottom: 15px;
  padding: 20px 20px;
  border-radius: 5px;
  display: none;
}

.filters-wrapper .bordered {
  border-radius: 5px;
  background-color: white;
  margin-right: 20px;
}

.filters-wrapper label {
  padding-top: 2px !important;
}

.btn-filtros {
  float: right;
  margin-top: 14px;
}

/*-----  End of Filters Wrapper  ------*/

/*================================
=            Reportes            =
================================*/

.label-reportes {
  position: relative;
  margin-left: 6px;
}

.indicadores_h3 {
  font-size: 1.15em;
  background-color: #dddddd;
  padding: 5px;
  margin-top: 20px;
  /*clear: both;*/
}

.highlight:hover {
  background-color: #ecf0f1;
}


.tabla_reportes_indicadores_wrapper {
  overflow: scroll;
}


.tabla_reportes_indicadores {
  width: 1070px !important;
}

.tabla_reportes_objetivos {
  width: auto !important;
}

.tabla_reportes_objetivos tbody {
  background-color: white;
}

.tabla_reportes_objetivos .rta_objetivos {
  text-align: center;
}

.tabla_reportes_indicadores .fila_totales {
  background-color: #95a5a6 !important;
  font-weight: bold;
}


.table-header-rotated-objetivos > thead > tr > th, .table-header-rotated-objetivos > tbody > tr > th, .table-header-rotated-objetivos > tfoot > tr > th, .table-header-rotated-objetivos > thead > tr > td, .table-header-rotated-objetivos > tbody > tr > td, .table-header-rotated-objetivos > tfoot > tr > td {
  padding: 5px 10px;
  font-size: 0.8em;
}

.table-header-rotated-objetivos th.row-header{
  width: auto;
}

.table-header-rotated-objetivos td {
  width: 0px;
  border-top: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  vertical-align: middle;
}

.table-header-rotated-objetivos th.rotate-45{
  height: 120px;
  width: 80px;
  min-width: 80px;
  max-width: 80px;
  position: relative;
  vertical-align: bottom;
  padding: 0;
  font-size: 12px;
  line-height: 0.8;
}


.table-header-rotated-objetivos th.rotate-45 > div{
  position: relative;
  top: 0px;
  left: 60px; /* 120 * tan(45) / 2 = 40 where 80 is the height on the cell and 45 is the transform angle*/
  height: 100%;
  -ms-transform:skew(-45deg,0deg);
  -moz-transform:skew(-45deg,0deg);
  -webkit-transform:skew(-45deg,0deg);
  -o-transform:skew(-45deg,0deg);
  transform:skew(-45deg,0deg);
  overflow: hidden;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  border-top: 1px solid #dddddd;
  background-color: white;
}

.table-header-rotated-objetivos th.rotate-45 span {
  -ms-transform:skew(45deg,0deg) rotate(315deg);
  -moz-transform:skew(45deg,0deg) rotate(315deg);
  -webkit-transform:skew(45deg,0deg) rotate(315deg);
  -o-transform:skew(45deg,0deg) rotate(315deg);
  transform:skew(45deg,0deg) rotate(315deg);
  position: absolute;
  line-height: 12px;
  bottom: 55px; /* 40 cos(45) = 28 with an additional 2px margin*/
  left: -30px; /*Because it looked good, but there is probably a mathematical link here as well*/
  display: inline-block;
  /*width: 100%;*/
  width: 130px; /* 80 / cos(45) - 40 cos (45) = 85 where 80 is the height of the cell, 40 the width of the cell and 45 the transform angle*/
  text-align: left;
  /*white-space: nowrap;*/ /*whether to display in one line or not*/
}



.table-header-rotated > thead > tr > th, .table-header-rotated > tbody > tr > th, .table-header-rotated > tfoot > tr > th, .table-header-rotated > thead > tr > td, .table-header-rotated > tbody > tr > td, .table-header-rotated > tfoot > tr > td {
  padding: 5px 10px;
  font-size: 0.8em;
}

.table-header-rotated th.row-header{
  width: auto;
}

.table-header-rotated td {
  width: 0px;
  border-top: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  vertical-align: middle;
}

.table-header-rotated th.rotate-45{
  height: 80px;
  width: 40px;
  min-width: 40px;
  max-width: 40px;
  position: relative;
  vertical-align: bottom;
  padding: 0;
  font-size: 12px;
  line-height: 0.8;
}

.table-header-rotated th.rotate-45 > div{
  position: relative;
  top: 0px;
  left: 40px; /* 80 * tan(45) / 2 = 40 where 80 is the height on the cell and 45 is the transform angle*/
  height: 100%;
  -ms-transform:skew(-45deg,0deg);
  -moz-transform:skew(-45deg,0deg);
  -webkit-transform:skew(-45deg,0deg);
  -o-transform:skew(-45deg,0deg);
  transform:skew(-45deg,0deg);
  overflow: hidden;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  border-top: 1px solid #dddddd;
}

.table-header-rotated th.rotate-45 span {
  -ms-transform:skew(45deg,0deg) rotate(315deg);
  -moz-transform:skew(45deg,0deg) rotate(315deg);
  -webkit-transform:skew(45deg,0deg) rotate(315deg);
  -o-transform:skew(45deg,0deg) rotate(315deg);
  transform:skew(45deg,0deg) rotate(315deg);
  position: absolute;
  bottom: 30px; /* 40 cos(45) = 28 with an additional 2px margin*/
  left: -25px; /*Because it looked good, but there is probably a mathematical link here as well*/
  display: inline-block;
  /*width: 100%;*/
  width: 85px; /* 80 / cos(45) - 40 cos (45) = 85 where 80 is the height of the cell, 40 the width of the cell and 45 the transform angle*/
  text-align: left;
  /*white-space: nowrap;*/ /*whether to display in one line or not*/
}


.add_porcentaje:after {
  content:"%";
}

#span_titulo_taller_objetivos { 
  color: #1abc9c;
}
.clear-fix {
  float: none;
  clear: both;
}

/*-----  End of Reportes  ------*/



/*============================================
=            Fixes for selectized            =
============================================*/

.form-control > .selectize-input {
    -webkit-transition: inherit; 
    -moz-transition: inherit; 
    -o-transition: inherit; 
    transition: inherit;
}

.selectize-input.focus {
  border-color: #1abc9c;
}


/*-----  End of Fixes for selectized  ------*/




/*========================================
=            Fixes for Mongol            =
========================================*/

.MongoInspector_editable > pre > span {
	color: black !important;
}


/*-----  End of Fixes for Mongol  ------*/



/*============================================
=            Fixes for Summernote            =
============================================*/

.note-editor h1,
.note-editor .h1 {
  font-size: 36px;
}
.note-editor h2,
.note-editor .h2 {
  font-size: 30px;
}
.note-editor h3,
.note-editor .h3 {
  font-size: 24px;
}
.note-editor h4,
.note-editor .h4 {
  font-size: 18px;
}
.note-editor h5,
.note-editor .h5 {
  font-size: 14px;
}
.note-editor h6,
.note-editor .h6 {
  font-size: 12px;
}

.note-editor {
	border: 2px solid #bdc3c7;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}

.note-editor > .note-toolbar {
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}

.note-editor .btn-default {
}

.note-editor .btn-group > .btn + .dropdown-toggle {
	padding-left: 10px;
	padding-right: 9px;
	padding-top: 9px;
	padding-bottom: 9px;
	border-left: 0px;
}

.note-editor .btn-group > .btn.note-recent-color + .dropdown-toggle {
	padding-left: 4px;
}

.note-editor .btn-group.note-para > .btn.dropdown-toggle > .caret {
	margin: 0 3px 0 8px;
}

.note-editor .btn-group > .btn + .dropdown-toggle .caret {
	margin-right: -5px;
}

.note-editor .btn-group.note-para > .dropdown-menu {
	min-width: 250px;
}

.note-editor .note-editable pre {
	background-color: #F5F5F5;
}

/*-----  End of Fixes for Summernote  ------*/



/*=============================================
=            Fixes for Flat UI Pro            =
=============================================*/

label {
  line-height: 1.5em;
  margin: 0;
  padding: 0;
  padding-top: 10px !important;
  
}

.checkbox label, label.radio {
  padding-top: 4px !important;
}

.form-horizontal .control-label {
  text-align: left;
}

.navbar-brand {
	margin-top: -5px;
}

/*.control-label {
	padding-top: 5px;
}*/

div.checkbox > label {
	line-height: 1;
	padding-left: 0;
}

.checkbox.disabled, .radio.disabled {
  cursor: default;
  color: #e6e8ea;
}

/*-----  End of Fixes for Flat UI Pro  ------*/


/*==========================================
=            Fixes for footable            =
==========================================*/

.footable tfoot tr td {
	border: 0px;
}

ul.pagination {
	background-color: #d6dbdf;
	border-radius: 6px;
	color: #ffffff;
	margin: 0;
	padding: 0;
}

ul.pagination > li {
	vertical-align: middle;
	margin-right: -3px;
}

ul.pagination li > a {
	color: #ffffff;
	padding: 12px 17px;
	min-width: 41px;
	min-height: 41px;
	display: inline-block;
	text-align: center;
	border: none;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
	background-color: #1abc9c;
}

ul.pagination > li.disabled > a {
	color: #ffffff;
}

/*-----  End of Fixes for footable  ------*/



/*===========================================
=            Fixed for selectize            =
===========================================*/

.selectize-input input[type="text"]::-moz-placeholder {
  color: #b2bcc5;
  opacity: 1;
  }
.selectize-input input[type="text"]:-ms-input-placeholder {
  color: #b2bcc5;
  }
.selectize-input input[type="text"]::-webkit-input-placeholder {
  color: #b2bcc5;
  }

.selectize-input {
  height: 42px;
  padding: 8px 12px;
  overflow: inherit;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.467;
  color: #34495e;
  border: 2px solid #bdc3c7;
  border-radius: 6px;
  box-shadow: none;
  -webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
          transition: border .25s linear, color .25s linear, background-color .25s linear;
  }

.selectize-control.multi .selectize-input.items .item {
  background-color: #1ABC9C;
  color: #ffffff;
  font-size: 12px;
  padding: 4px 8px;
}

/*-----  End of Fixed for selectize  ------*/


/*=================================================================
=            Fixes for bootstrap-datetimepicker-widget            =
=================================================================*/

.bootstrap-datetimepicker-widget {
	background-color: #ffffff;
	border-radius: 4px;
	padding: 4px;
}

.bootstrap-datetimepicker-widget.dropdown-menu {
	border: 1px solid rgba(0, 0, 0, .15);
	box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.bootstrap-datetimepicker-widget .dropdown-menu {
	background-color: #ffffff;
	display: block !important;
}

.bootstrap-datetimepicker-widget .table-condensed > thead > tr > th, .bootstrap-datetimepicker-widget .table-condensed > tbody > tr > th, .bootstrap-datetimepicker-widget .table-condensed > tfoot > tr > th, .bootstrap-datetimepicker-widget .table-condensed > thead > tr > td, .bootstrap-datetimepicker-widget .table-condensed > tbody > tr > td, .bootstrap-datetimepicker-widget .table-condensed > tfoot > tr > td {
	padding: 5px;
}

.bootstrap-datetimepicker-widget .day.active, .bootstrap-datetimepicker-widget .year.active, .bootstrap-datetimepicker-widget .month.active, .bootstrap-datetimepicker-widget .day.active:hover {
	background-color: #16a085;
}

.bootstrap-datetimepicker-widget .picker-switch a:hover {
	background-color: #dddddd;
}

.bootstrap-datetimepicker-widget td.today {
  position: relative;
}
.bootstrap-datetimepicker-widget td.today:before {
  content: '';
  display: inline-block;
  border-left: 7px solid transparent;
  border-bottom: 7px solid #16a085;
  border-top-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  bottom: 4px;
  right: 4px;
}


/*-----  End of Fixes for bootstrap-datetimepicker-widget  ------*/





/*====================================
=            Image Picker            =
====================================*/

.js-cambiar-foto {
}


/*=================================================================
=            Formulario agregar/modificar Participante            =
=================================================================*/




/*-----  End of Formulario agregar/modificar Participante  ------*/



