<template name="quickForm_bootstrap3-horizontal-dias">
	{{#autoForm qfAutoFormContext}}
		{{> afQuickFields input-col-class=inputClass label-class=labelClass id-prefix=idPrefix}}
		{{#if qfShouldRenderButton}}
		<div class="form-group">
			<div class="{{labelClass}}"></div>
			<div class="{{inputClass}}">
				<button type="submit" {{submitButtonAtts}}>
				{{#with ../atts.buttonContent}}
				{{this}}
				{{else}}
				Submit
				{{/with}}
				</button>
			</div>
		</div>
		{{/if}}
	{{/autoForm}}
</template>

<template name="afFormGroup_bootstrap3-horizontal-dias">
	<div class="form-group{{#if afFieldIsInvalid name=this.name}} has-error{{/if}}">
		{{#if skipLabel}}
		{{! We include the empty label as the easiest way to keep proper field alignment}}
		<label {{afFieldLabelAtts}}></label>
		{{else}}
		<label {{afFieldLabelAtts}}>{{#if this.labelText}}{{this.labelText}}{{else}}{{afFieldLabelText name=this.name}}{{/if}}</label>
		{{/if}}
		<div class="{{rightColumnClass}}">
			{{> afFieldInput afFieldInputAtts}}
			<span class="help-block">{{{afFieldMessage name=this.name}}}</span>
		</div>
	</div>
</template>

<template name="afObjectField_bootstrap3-horizontal-dias">
		<div class="form-group{{#if afFieldIsInvalid name=this.name}} has-error{{/if}}">
			<label {{afFieldLabelAtts}}>{{afFieldLabelText name=this.name}}</label>
			<div class="{{rightColumnClass}}">
					{{! We want to default to using bootstrap3 template below this point because we don't want horizontal within horizontal}}
					{{> afQuickFields name=this.name input-col-class=inputClass label-class=labelClass template="bootstrap3-horizontal-dias"}}
			</div>
		</div>
</template>

<template name="afArrayField_bootstrap3-horizontal-dias">
	<div class="form-group{{#if afFieldIsInvalid name=this.atts.name}} has-error{{/if}}">
		<label {{afFieldLabelAtts}}>{{afFieldLabelText name=this.atts.name}}</label>
		<div class="{{rightColumnClass}}">
			<div class="panel panel-default autoform-padding-fix">
				{{#if afFieldIsInvalid name=this.atts.name}}
				<div class="panel-body has-error">
					<span class="help-block">{{{afFieldMessage name=this.atts.name}}}</span>
				</div>
				{{/if}}
				<div class="col-sm-11">
					<ul class="list-group">
						{{#afEachArrayItem name=this.atts.name minCount=this.atts.minCount maxCount=this.atts.maxCount}}
						<li class="list-group-item autoform-array-item">
							<div class="media">
								<div class="media-body">
									{{!-- {{> afQuickField name=this.name label=false label-class="sr-only"}} --}}
									<div class="col-sm-1"></div>
									<div class="col-sm-2 label-dia-hora">
										Día y hora
									</div>
									<div class="col-sm-4">
										{{> afFieldInput name=this.current.dia placeholder="schemaLabel" }} 
									</div>
									<div class="col-sm-2">
										{{> afFieldInput name=this.current.horaInicio placeholder="schemaLabel" }}
									</div>
									<div class="col-sm-2">
										{{> afFieldInput name=this.current.horaFin placeholder="schemaLabel" }}
									</div>
									<div class="col-sm-1 autoform-remove-add">
										{{#if afArrayFieldHasMoreThanMinimum name=../atts.name minCount=../atts.minCount maxCount=../atts.maxCount}}
										<a href="#" class="autoform-remove-item {{!-- pull-left --}}"><span class="fui-trash"></span></a>
										{{/if}}
									</div>
								</div>
							</div>
						</li>
						{{/afEachArrayItem}}
					</ul>
				</div>	
				<div class="col-sm-1 autoform-remove-add">
					{{#if afArrayFieldHasLessThanMaximum name=this.atts.name minCount=this.atts.minCount maxCount=this.atts.maxCount}}
						<a href="#" class="autoform-add-item" data-autoform-field="{{this.atts.name}}" data-autoform-minCount="{{this.atts.minCount}}" data-autoform-maxCount="{{this.atts.maxCount}}"><span class="fui-plus"></span></a>
					{{/if}}
				</div>
			</div>
		</div>
	</div>
</template>

<template name="afCheckbox_bootstrap3-horizontal-dias">
	{{#if useLeftLabel}}
	{{! same as bootstrap, but we don't include the label because it appears in the left column}}
	<div class="checkbox">
		<input type="checkbox" value="true" {{attsPlusSpecialClass}} />
	</div>
	{{else}}
	<div class="checkbox">
		<label>
			<input type="checkbox" value="true" {{atts}} />
			{{afFieldLabelText name=this.name}}
		</label>
	</div>
	{{/if}}
</template>
