<template name="participantesHomeFiltros">
  <div class="row">
    <div class="col-sm-12">
      <div class="row filters-wrapper">
        <div class="col-sm-4 bordered">
          <p><strong>Ver columnas</strong></p>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label class="checkbox" for="verColumnaFoto">
                  <input type="checkbox" data-toggle="checkbox" value="" id="verColumnaFoto" {{verColumnaFoto}} />
                  Foto
                </label>
              </div>
              <div class="form-group">
                <label class="checkbox" for="verColumnaEdad">
                  <input type="checkbox" data-toggle="checkbox" value="" id="verColumnaEdad" {{verColumnaEdad}}>
                  Edad
                </label>
              </div>
              <div class="form-group">
                <label class="checkbox" for="verColumnaDNI">
                  <input type="checkbox" data-toggle="checkbox" value="" id="verColumnaDNI" {{verColumnaDNI}}>
                  DNI
                </label>
              </div>
              <div class="form-group">
                <label class="checkbox" for="verColumnaEscuela">
                  <input type="checkbox" data-toggle="checkbox" value="" id="verColumnaEscuela" {{verColumnaEscuela}}>
                  Escuela
                </label>
              </div>
              <div class="form-group">
                <label class="checkbox" for="verColumnaGradoAno">
                  <input type="checkbox" data-toggle="checkbox" value="" id="verColumnaGradoAno" {{verColumnaGradoAno}}>
                  Grado/Año
                </label>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label class="checkbox" for="verColumnaSexo">
                  <input type="checkbox" data-toggle="checkbox" value="" id="verColumnaSexo" {{verColumnaSexo}}>
                  Sexo
                </label>
              </div>
              <div class="form-group">
                <label class="checkbox" for="verColumnaEscolarizado">
                  <input type="checkbox" data-toggle="checkbox" value="" id="verColumnaEscolarizado" {{verColumnaEscolarizado}}>
                  Escolarizado
                </label>
              </div>
              <div class="form-group">
                <label class="checkbox" for="verColumnaEstrellas">
                  <input type="checkbox" data-toggle="checkbox" value="" id="verColumnaEstrellas" {{verColumnaEstrellas}}>
                  Estrellas
                </label>
              </div>
              <div class="form-group">
                <label class="checkbox" for="verColumnaDocumentos">
                  <input type="checkbox" data-toggle="checkbox" value="" id="verColumnaDocumentos" {{verColumnaDocumentos}}>
                  Documentos
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4 bordered">
          <p><strong>Misceláneas</strong></p>
          <div class="form-group">
            <label class="checkbox" for="checkboxInactivos">
              <input type="checkbox" data-toggle="checkbox" value="" id="checkboxInactivos" {{checkboxInactivos}}>
              Mostrar inactivos
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>

</template>