<template name="participantesHome">
  <div id="wrapper">
    <div class="row">
      <h3 class="col-sm-9">Participantes
        <a 
          href="{{pathFor 'participante.form' _id='new'}}" class="btn btn-primary btn-xs btn-agregar" data-toggle="tooltip" data-placement="top" title="Agregar participante">
          <span class="fui-plus"></span>
        </a>
        <a href="#" class="btn btn-xs btn-primary btn-filtros">filtros</a>
      </h3>
      <div class="col-sm-3">
        <div class="form-group">
          <div class="input-group" id="filter_div">
            <input type="search" class="form-control" placeholder="Buscar" id="filter_search">
            <span class="input-group-btn">
              <button type="submit" class="btn"><span class="fui-search"></span></button>
            </span>
          </div>
        </div>
      </div>
    </div>
    {{> participantesHomeFiltros}}
    <div class="row">
      <div class="col-sm-12 table-responsive show-overflow">
        <table class="footable table table-striped table-bordered table-hover" data-filter=#filter_search>
          <thead>
            <tr>
              <th class="col-sm-1 {{classColumnaFoto}}" data-sort-ignore="true"></th>
              <th class="" data-sort-ignore="true">Nombre</th>
              <th class="columna_edad {{classColumnaEdad}}" data-sort-ignore="true">Edad</th>
              <th class="columna_escuela {{classColumnaEscuela}}" data-sort-ignore="true">Escuela</th>
              <th class="columna_grado {{classColumnaGradoAno}}" data-sort-ignore="true">Grado/Año</th>
              <th class="columna_sexo {{classColumnaSexo}}" data-sort-ignore="true">Sexo</th>
              <th class="columna_dni {{classColumnaDNI}}" data-sort-ignore="true">DNI</th>
              <th class="columna_escolarizado {{classColumnaEscolarizado}}" data-sort-ignore="true">Escolarizado</th>
              <th class="columna_estrellas {{classColumnaEstrellas}}" data-sort-ignore="true">Estrellas</th>
              <th class="columna_documentos {{classColumnaDocumentos}}" data-sort-ignore="true">Documentos</th>
            </tr>
          </thead>
          <tbody>
          {{#if Template.subscriptionsReady}}
            {{#each participante in participantes}}
              <tr class="{{rowInactivo participante}}">
                <td class="columna_foto {{classColumnaFoto}}">
                  {{#with FS.GetFile "images" foto}}
                    <img src="{{this.url store='imagesStore'}}" alt="{{../nombre}}, {{../apellido}}" class="img-circle foto_tabla" width="40px" height="40px">
                    <div class="imagen-zoom-container">
                      <div class="imagen-zoom">
                          <img src="{{this.url store='imagesStore'}}" class="img-circle" width="175px" height="175px" />
                      </div>
                    </div>

                  {{/with}}
                </td>
                <td>
                  <a href="{{pathFor route='participante.info'}}" class="noDecoration">{{participante.apellido}}, {{participante.nombre}}</a>
                </td>
                <td class="columna_edad {{classColumnaEdad}}">{{calcularEdad participante.fechaNacimiento}} años</td>
                <td class="{{classColumnaEscuela}}">{{participante.escuela}}</td>
                <td class="{{classColumnaGradoAno}}">{{participante.gradoAno}}</td>
                <td class="columna_sexo {{classColumnaSexo}}">{{{participante.sexo}}}</td>
                <td class="columna_dni {{classColumnaDNI}}">{{{participante.dni}}}</td>
                <td class="columna_escolarizado {{classColumnaEscolarizado}}">{{{escolarizado participante}}}</td>
                <td class="columna_estrellas {{classColumnaEstrellas}}">
                  {{{renderEstrellas participante.estrellas}}}             
                </td>
                <td class="columna_documentos {{classColumnaDocumentos}}">
                  <span class="icon-baby {{docNoPresentado participante.docPartida}}" data-toggle="tooltip" title="Partida de nacimiento"></span>
                  <span class="icon-contact-businesscard {{docNoPresentado participante.docDni}}" data-toggle="tooltip" title="DNI"></span>
                  <span class="icon-syringe-antivirus {{docNoPresentado participante.docCarnetVacuna}}" data-toggle="tooltip" title="Carné de vacunación"></span>
                  <span class="icon-ok-circle {{docNoPresentado participante.docAptoMedico}}" data-toggle="tooltip" title="Apto médico"></span>

                </td>
              </tr>
            {{else}}
              <tr>
                <td colspan="5" class="text-center"><p class="text-danger">No hay participantes que mostrar</p></td>
              </tr>

            {{/each}}
          {{else}}
            {{> spinner}}
          {{/if}}      
          </tbody>
        </table>
        <p><small>Cantidad de participantes: <strong class="cantidad">{{contarCollection participantes}}</strong></small></p>
      </div>
    </div>
  </div>
</template>