<template name="reportesObjetivos">
	<div class="row">
		<h3 class="col-sm-12">Reporte por objetivos - {{formatFechaReporte fecha}} - <span id="span_titulo_taller_objetivos">{{tallerSeleccionado.nombre}}</span></h3>
	</div>
	<div class="row">
		{{#if talleresConReporteCompletado}} {{!-- Si hay talleres completados, mostramos el Select para elegir el taller a ver --}}
			<div class="col-sm-3">Elegir taller a visualizar:</div>
			<select class="form-control select select-primary select-block mbl" id="selectTalleresReporteObjetivos">
			  	<optgroup label="Elegir taller">
			  		<option value="">Elegir taller</option>
			  		{{#each talleresConReporteCompletado}}
			  			<option value="{{_id}}">{{nombre}}</option>
			  		{{/each}}
				</optgroup>
			</select>

		{{else}} {{!-- Si no hay talleres completados, mostramos el mensaje --}}
			<p class="col-sm-12">Ninguno de los talleres terminó de completar este reporte. Cuando se completen, aparecerán acá.</p>
		{{/if}}

	</div>
	<br>
	<div class="row">
		<div class="col-sm-12" id="reporte_objetivos_taller">
			{{#each tallerSeleccionado.indicadores}}
				<div class="well clearfix">
					<h4>{{indicador}}</h4>
					<div class="col-sm-12">
						<table class="footable table table-striped table-hover table-header-rotated-objetivos tabla_reportes_objetivos">
							<thead>
							<tr>
								<th data-sort-initial="true">Participante</th>
								{{#each preguntas}}
									<th class="rotate-45" data-sort-ignore="true"><div><span>{{cortarPregunta pregunta}}</span></div></th>
								{{/each}}
							</tr>
							</thead>
							<tbody>
								{{#each participantesTaller}}
									<tr>
										<td>{{getApellido participanteId}}, {{getNombre participanteId}}</td>
										{{#each ../preguntas}}
											<td class="rtaPara{{_id}}">{{getRespuesta _id ../participanteId}}</td>
										{{/each}}
									</tr>
								{{/each}}
							</tbody>
						</table>
					</div>
					{{#each preguntas}}
						<div class="grafico_pregunta col-sm-4">
							{{> highchartsHelper chartId=_id chartWidth="100%" charHeight="100%" chartObject=graphPregunta}}
						</div>
					{{/each}}
				</div>
				<br class="clear-fix">
			{{/each}}
		</div>
	</div>
</template>
