<template name="reportesHome">
	<div id="wrapper">
		<div class="row">
			<h3 class="col-sm-9">Reportes
				{{#if isInRole 'admin'}}
					<a href="{{pathFor route='reportes.habilitar'}}" class="btn btn-primary btn-xs btn-agregar" data-toggle="tooltip" data-placement="top" title="Habilitar un nuevo reporte"><span class="fui-plus"></span></a>
				{{/if}}
			</h3>
			<div class="col-sm-3">
				<div class="form-group">
					<div class="input-group" id="filter_div">
					  <input type="search" class="form-control" placeholder="Buscar" id="filter_search">
					  <span class="input-group-btn">
						  <button type="submit" class="btn"><span class="fui-search"></span></button>
					  </span>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 table-responsive">
				<table class="footable table table-striped table-bordered table-hover tabla-talleres" data-filter=#filter_search>
					<thead>
						<tr>
							<th data-sort-ignore="true">Tipo</th>
							<th class="text-center"  data-sort-initial="true">Fecha</th>
							<th class="text-center" data-sort-ignore="true">¿Completado?</th>
						</tr>
					</thead>
					<tbody>
					{{#each reportesIndicadores}}
						<tr>
							<td><a href="{{pathFor route='reportes.indicadores'}}">Por indicadores</a></td>
							<td class="text-center"><a href="{{pathFor route='reportes.indicadores'}}">{{formatFechaReporte fecha}}</a></td>
							<td class="text-center">{{{checkmark completado}}}</td>
						</tr>
					{{!-- {{else}}
						<tr>
							<td colspan="3" class="text-center"><p class="text-danger">No hay reportes por indicadores que mostrar</p></td>
						</tr> --}}
					{{/each}}

					{{#each reportesObjetivos}}
						<tr>
							<td><a href="{{pathFor route='reportes.objetivos'}}">Por objetivos</a></td>
							<td class="text-center"><a href="{{pathFor route='reportes.objetivos'}}">{{formatFechaReporte fecha}}</a></td>
							<td class="text-center">{{{checkmark completado}}}</td>
						</tr>
					{{/each}}	

					</tbody>
				</table>
				<p class=""><small>Cantidad de reportes: <strong class="cantidad">{{contarCollection reportesIndicadores}}</strong></small></p>
			</div>
		   
		</div>
	</div>
</template>
