<template name="reportesHabilitar">
	<h4>Habilitar reportes</h4>

	{{#autoForm schema="Schema.ReporteHabilitar" id="formReporteHabilitar" type="method" meteormethod="habilitarReporte" }}
		<div class="row">
			{{> afQuickField name='tipo' label-class="col-sm-2" input-col-class="col-sm-3" template="bootstrap3-horizontal" placeholder="schemaLabel" }}
		</div>
		<div class="row">
			{{> afQuickField name='fecha' label-class="col-sm-2" input-col-class="col-sm-3" template="bootstrap3-horizontal" placeholder="schemaLabel" }}
		</div>
		<br>
		<button type="submit" class="btn btn-primary">Habilitar</button>

	{{/autoForm}}
</template>
