<template name="reportesIndicadores">
	<div class="row">
	<h3 class="col-sm-9">Reporte por indicadores - {{formatFechaReporte fecha}}</h3> 
	<div class="col-sm-3">
		<div class="form-group">
			<div class="input-group" id="filter_div">
			  <input type="search" class="form-control" placeholder="Buscar" id="filter_search">
			  <span class="input-group-btn">
				  <button type="submit" class="btn"><span class="fui-search"></span></button>
			  </span>
			</div>
		</div>
	</div>
	</div>
		<div class="row tabla_reportes_indicadores_wrapper">
			<table class="footable table table-striped table-hover table-header-rotated tabla_reportes_indicadores" data-filter=#filter_search style="width:1170px;">
				<thead>
				<tr>
					<th data-sort-initial="true">Participante</th>
					<th data-sort-ignore="true">Taller</th>
					<th data-hide="all">Comentario Area Comunicación + Respeto + Conflicto</th>
					<th data-hide="all">Comentario Area Trabajo en Equipo + Pertenencia + Adueñarse + Compromiso + Liderazgo</th>
					<th data-hide="all">Comentario Area Autoestima + Confianza + Frustración + Identidad + Superación</th>
					<th class="rotate-45" data-sort-ignore="true"><div><span>Comunicación</span></div></th>
					<th class="rotate-45" data-sort-ignore="true"><div><span>Respeto</span></div></th>
					<th class="rotate-45" data-sort-ignore="true"><div><span>Trabajo Equipo</span></div></th>
					<th class="rotate-45" data-sort-ignore="true"><div><span>Confianza</span></div></th>
					<th class="rotate-45" data-sort-ignore="true"><div><span>Pertenencia</span></div></th>
					<th class="rotate-45" data-sort-ignore="true"><div><span>Adueñarse</span></div></th>
					<th class="rotate-45" data-sort-ignore="true"><div><span>Compromiso</span></div></th>
					<th class="rotate-45" data-sort-ignore="true"><div><span>Autoestima</span></div></th>
					<th class="rotate-45" data-sort-ignore="true"><div><span>Frustracion</span></div></th>
					<th class="rotate-45" data-sort-ignore="true"><div><span>Conflicto</span></div></th>
					<th class="rotate-45" data-sort-ignore="true"><div><span>Identidad</span></div></th>
					<th class="rotate-45" data-sort-ignore="true"><div><span>Liderazgo</span></div></th>
					<th class="rotate-45" data-sort-ignore="true"><div><span>Superacion</span></div></th>
				</tr>
				</thead>
				<tbody>
					<tr class="fila_totales footable-disabled">
						<td class="text-center"></td>
						<td class="text-right">...Totales</td>
						<td class="text-center"></td>
						<td class="text-center"></td>
						<td class="text-center"></td>
						<td class="text-center add_porcentaje" id="total_comunicacion"></td>
						<td class="text-center add_porcentaje" id="total_respeto"></td>
						<td class="text-center add_porcentaje" id="total_trabajo_equipo"></td>
						<td class="text-center add_porcentaje" id="total_confianza"></td>
						<td class="text-center add_porcentaje" id="total_pertenencia"></td>
						<td class="text-center add_porcentaje" id="total_aduenarse"></td>
						<td class="text-center add_porcentaje" id="total_compromiso"></td>
						<td class="text-center add_porcentaje" id="total_autoestima"></td>
						<td class="text-center add_porcentaje" id="total_frustracion"></td>
						<td class="text-center add_porcentaje" id="total_conflicto"></td>
						<td class="text-center add_porcentaje" id="total_identidad"></td>
						<td class="text-center add_porcentaje" id="total_liderazgo"></td>
						<td class="text-center add_porcentaje" id="total_superacion"></td>
					</tr>        
					{{#each reportesIndicadoresIndividuales}}
						<tr class="fila_parcial">
							<td>{{nombreParticipante}}</td>
							<td>{{nombreTaller}}</td>
							<td>{{area1_comentario}}</td>
							<td>{{area2_comentario}}</td>
							<td>{{area3_comentario}}</td>
							<td class="text-center add_porcentaje parcial_comunicacion">{{comunicacion}}</td>
							<td class="text-center add_porcentaje parcial_respeto">{{respeto}}</td>
							<td class="text-center add_porcentaje parcial_trabajo_equipo">{{trabajo_equipo}}</td>
							<td class="text-center add_porcentaje parcial_confianza">{{confianza}}</td>
							<td class="text-center add_porcentaje parcial_pertenencia">{{pertenencia}}</td>
							<td class="text-center add_porcentaje parcial_aduenarse">{{aduenarse}}</td>
							<td class="text-center add_porcentaje parcial_compromiso">{{compromiso}}</td>
							<td class="text-center add_porcentaje parcial_autoestima">{{autoestima}}</td>
							<td class="text-center add_porcentaje parcial_frustracion">{{frustracion}}</td>
							<td class="text-center add_porcentaje parcial_conflicto">{{conflicto}}</td>
							<td class="text-center add_porcentaje parcial_identidad">{{identidad}}</td>
							<td class="text-center add_porcentaje parcial_liderazgo">{{liderazgo}}</td>
							<td class="text-center add_porcentaje parcial_superacion">{{superacion}}</td>
						</tr>
					{{/each}}

{{!-- 				<?php $n = 0; ?>
				<?php foreach ($reportes_indicadores_porcentajes as $reporte_ind_percent): ?>
					
					<tr class="fila_parcial">
						<td><?php htmlout($reporte_ind_percent['alumno_nombre']); ?></td>
						<td><?php htmlout($reporte_ind_percent['taller_nombre']); ?></td>
						<td><?php htmlout($reporte_ind_percent['area1_comentario']); ?></td>
						<td><?php htmlout($reporte_ind_percent['area2_comentario']); ?></td>
						<td><?php htmlout($reporte_ind_percent['area3_comentario']); ?></td>
						<td class="text-center add_porcentaje parcial_comunicacion"><?php htmlout($reporte_ind_percent['comunicacion']); ?></td>
						<td class="text-center add_porcentaje parcial_respeto"><?php htmlout($reporte_ind_percent['respeto']); ?></td>
						<td class="text-center add_porcentaje parcial_trabajo_equipo"><?php htmlout($reporte_ind_percent['trabajo_equipo']); ?></td>
						<td class="text-center add_porcentaje parcial_confianza"><?php htmlout($reporte_ind_percent['confianza']); ?></td>
						<td class="text-center add_porcentaje parcial_pertenencia"><?php htmlout($reporte_ind_percent['pertenencia']); ?></td>
						<td class="text-center add_porcentaje parcial_aduenarse"><?php htmlout($reporte_ind_percent['aduenarse']); ?></td>
						<td class="text-center add_porcentaje parcial_compromiso"><?php htmlout($reporte_ind_percent['compromiso']); ?></td>
						<td class="text-center add_porcentaje parcial_autoestima"><?php htmlout($reporte_ind_percent['autoestima']); ?></td>
						<td class="text-center add_porcentaje parcial_frustracion"><?php htmlout($reporte_ind_percent['frustracion']); ?></td>
						<td class="text-center add_porcentaje parcial_conflicto"><?php htmlout($reporte_ind_percent['conflicto']); ?></td>
						<td class="text-center add_porcentaje parcial_identidad"><?php htmlout($reporte_ind_percent['identidad']); ?></td>
						<td class="text-center add_porcentaje parcial_liderazgo"><?php htmlout($reporte_ind_percent['liderazgo']); ?></td>
						<td class="text-center add_porcentaje parcial_superacion"><?php htmlout($reporte_ind_percent['superacion']); ?></td>
					</tr>        
				<?php $n = $n + 1; ?>
				<?php endforeach; ?> --}}
				</tbody>
			</table>
		</div>
</template>
