<template name="header">
  <header class="row">
    <nav class="navbar navbar-default" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
          <span class="sr-only">Toggle navigation</span>
        </button>
        <a class="navbar-brand" href="#"><img src="/images/el_desafio_logo.png" height="35px" width="35px"></a>
      </div>
      <div class="collapse navbar-collapse" id="navbar-collapse-01">
        <ul class="nav navbar-nav">
          <li><a href="{{pathFor route='participantes.home'}}">Participantes</a></li>
          <li><a href="{{pathFor route='talleres.home'}}">Programas</a></li>
          <li><a href="{{pathFor route='reportes.home'}}">Reportes</a></li>
          <li><a href="{{pathFor route='staff.home'}}">Staff</a></li>
          <li><a href="{{pathFor route='familiares.home'}}">Familiares</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="#">
              <span class="visible-sm visible-xs">Mensajes<span class="fui-chat"></span></span>
              <span class="visible-md visible-lg"><span class="fui-chat navbar-icons"></span></span>
            </a>
          </li>
          <li>
            <span class="fixLoginButton">{{> atNavButton}}</span>
          </li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </nav>
    <!-- /navbar -->
  </header>
</template>

