<template name="staffForm">
<h4>Miembro del Staff</h4>
<div class="box_border">
		{{#autoForm collection="Users" doc=user id="FormUser" type=formUserAction }}
		<fieldset>
			<div class="row"> 
				<div class="col-sm-3 col-sm-push-9" id="foto_container">
					{{#if user.profile.foto}}
						{{#if avatarChanged}}
							<div class="text-center"><img src="{{imageAvatar}}" alt="" class="img-thumbnail foto_participante avatar" width="175px" height="175px"></div>
							<button type="button" class=" btn btn-xs btn-primary btn_cambiar_foto">Cambiar</button>
						{{else}}
							{{#with FS.GetFile "images" user.profile.foto}}
							  <div class="text-center"><img src="{{this.url store='imagesStore'}}" alt="" class="img-thumbnail foto_participante avatar" width="175px" height="175px"></div>
							  <button type="button" class=" btn btn-xs btn-primary btn_cambiar_foto">Cambiar</button>
							{{/with}}
						{{/if}}
					{{else}}
						<div class="text-center"><img src="{{imageAvatar}}" alt="" class="img-thumbnail foto_participante avatar" width="175px" height="175px"></div>
						<button type="button" class=" btn btn-xs btn-primary btn_cambiar_foto">Cambiar</button>
					{{/if}}
					<div class="hidden">{{> afQuickField name='profile.foto' label-class="sr-only" template="bootstrap3-horizontal" placeholder="Foto" }}</div>
				</div>
				<div class="col-sm-9 col-sm-pull-3">
					<div class="row extra-padding-bottom">
						<div class="col-sm-6">
							{{> afQuickField name='profile.nombre' label-class="col-sm-3" input-col-class="col-sm-9" template="bootstrap3-horizontal" placeholder="schemaLabel" }}
						</div>
						<div class="col-sm-6">
							{{> afQuickField name='profile.apellido' label-class="col-sm-3" input-col-class="col-sm-9" template="bootstrap3-horizontal" placeholder="schemaLabel" }}
						</div>
					</div>
					<div class="row extra-padding-bottom">
						<div class="col-sm-6">
							{{> afQuickField name='profile.fechaNacimiento' label-class="col-sm-5" input-col-class="col-sm-7" template="bootstrap3-horizontal" placeholder="schemaLabel" }}
						</div>
						<div class="col-sm-6">
							{{#if isInRole 'admin'}}
								{{> afQuickField name='emails.0.address' label-class="col-sm-3" input-col-class="col-sm-9" template="bootstrap3-horizontal" required="required" }}
							{{else}}
								{{> afQuickField name='emails.0.address' label-class="col-sm-3" input-col-class="col-sm-9" template="bootstrap3-horizontal" required="required" readonly="true" }}
							{{/if}}
						</div>
					</div>
					<div class="row extra-padding-bottom">
						<div class="col-sm-6">
							{{> afQuickField name='profile.direccion' label-class="col-sm-3" input-col-class="col-sm-9" template="bootstrap3-horizontal" placeholder="schemaLabel" }}
						</div>
						<div class="col-sm-6">
							{{> afQuickField name='profile.ciudad' label-class="col-sm-3" input-col-class="col-sm-9" template="bootstrap3-horizontal" placeholder="schemaLabel" }}
						</div>
					</div>
					<div class="row extra-padding-bottom">
						<div class="col-sm-6">
							{{> afQuickField name='profile.telefono1' label-class="col-sm-3" input-col-class="col-sm-9" template="bootstrap3-horizontal" placeholder="schemaLabel" }}
						</div>
						<div class="col-sm-6">
							{{> afQuickField name='profile.telefono2' label-class="col-sm-3" input-col-class="col-sm-9" template="bootstrap3-horizontal" placeholder="schemaLabel" }}
						</div>
					</div>
				</div>
			</div>
		</fieldset>
		{{#if isInRole 'admin'}}
			<legend>Asignar rol:</legend>
			<div class="col-sm-12">
				{{> afQuickField name='roles' label-class="col-sm-1" input-col-class="col-sm-6" template="bootstrap3-horizontal" placeholder="schemaLabel" }}
			</div>
		{{/if}}
		<br>
		<br>
		<br>
		<p class="text-center">
			<button class="btn btn-default cancelar">Cancelar</button>
			<button type="submit" class="btn btn-primary">{{botonFormUser}}</button>
		</p>
		{{/autoForm}}
</div>
</template>