<template name="staffHome">
		<div id="wrapper">
			<div class="row">
				<h3 class="col-sm-9">Staff
					{{#if isInRole 'admin'}}
						<a href="{{pathFor route='staff.form'}}" class="btn btn-primary btn-xs btn-agregar" data-toggle="tooltip" data-placement="top" title="Agregar Staff"><span class="fui-plus"></span></a>
					{{/if}}
				</h3>
				<div class="col-sm-3">
					<div class="form-group">
						<div class="input-group" id="filter_div">
						  <input type="search" class="form-control" placeholder="Buscar" id="filter_search">
						  <span class="input-group-btn">
							  <button type="submit" class="btn"><span class="fui-search"></span></button>
						  </span>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12 table-responsive show-overflow">
					<table class="footable table table-striped table-bordered table-hover" data-page-size="99999" data-page-navigation=".pagination" data-filter=#filter_search>
						<thead>
							<tr>
								<th class="col-sm-1" data-sort-ignore="true"></th>
								<th data-sort-initial="true">Nombre</th>
								<th data-sort-ignore="true">Rol</th>
								<th data-sort-ignore="true">Email</th>
								<th data-sort-ignore="true">Teléfono 1</th>
								<th data-sort-ignore="true">Teléfono 2</th>
							</tr>
						</thead>
						<tbody>
							{{#each users}}
								<tr>
									<td class="columna_foto">
									{{#with FS.GetFile "images" profile.foto}}
									  <img src="{{this.url store='imagesStore'}}" alt="{{../profile.apellido}}, {{../profile.nombre}}" class="img-circle foto_tabla" width="40px" height="40px">
									  <div class="imagen-zoom-container">
									  	<div class="imagen-zoom">
									  	    <img src="{{this.url store='imagesStore'}}" class="img-circle" width="175px" height="175px" />
									  	</div>
									  </div>

									{{/with}}
									</td>
									<td>
										<a href="{{pathFor route='user.info'}}" class="noDecoration">{{profile.apellido}}, {{profile.nombre}}</a>
									</td>
									<td>
										{{#each roles}}
											<span class="label label-primary">{{this}}</span>
										{{/each}}
									</td>
									<td>
										{{#each emails}}
											{{this.address}}
										{{/each}}
									</td>
									<td>
										{{profile.telefono1}}
									</td>
									<td>
										{{profile.telefono2}}
									</td>
								</tr>
							{{else}}
								<tr>
									<td colspan="5" class="text-center"><p class="text-danger">No hay staff que mostrar</p></td>
								</tr>

							{{/each}}        
						</tbody>
					</table>
					<p><small>Cantidad de miembros del staff: <strong class="cantidad">{{contarCollection users}}</strong></small></p>
				</div>
			</div>
		</div>
</template>