<template name="userInfo">
	<div class="row">
		<h3 class="col-sm-9">{{profile.apellido}}, {{profile.nombre}}
			{{#if isInRole 'admin'}}
				<a href="{{pathFor route='staff.form'}}" class="btn_acciones" data-toggle="tooltip" data-placement="top" title="Modificar">
					<span class="fui-new"></span>
				</a>
			{{/if}}
		</h3>
	</div>
	<div class="box_border" id="box_border_container">
		<div class="row">
			<div class="col-sm-3 col-sm-push-9">
				<div class="col-sm-12" id="foto_container">
					{{#if profile.foto}}
						{{#with FS.GetFile "images" profile.foto}}
						  <img src="{{this.url store='imagesStore'}}" alt="" class="img-thumbnail foto_participante avatar" width="175px" height="175px">
						{{/with}}
					{{else}}
						<div class="text-center"><img src="/images/profile_picture.png" alt="" class="img-thumbnail foto_participante avatar" width="175px" height="175px"></div>
					{{/if}}
				</div>
			</div>
			
			<div class="col-sm-9 col-sm-pull-3">
				<div class="row">
					<div class="col-sm-4"><strong>Email: </strong></div>
					<div class="col-sm-8">
						{{#each emails}}
							{{this.address}}
						{{/each}}
					</div>
				</div>
				<div class="row">
					<div class="col-sm-4"><strong>Fecha de nacimiento: </strong></div>
					<div class="col-sm-8">{{formatFecha profile.fechaNacimiento}}</div>
				</div>
				<div class="row">
					<div class="col-sm-4"><strong>Dirección: </strong></div>
					<div class="col-sm-8">{{profile.direccion}}<em> ({{profile.ciudad}})</em></div>
				</div>
				<div class="row">
					<div class="col-sm-4"><strong>Teléfono 1: </strong></div>
					<div class="col-sm-8">{{profile.telefono1}}</div>
				</div>
				<div class="row">
					<div class="col-sm-4"><strong>Teléfono 2: </strong></div>
					<div class="col-sm-8">{{profile.telefono2}}</div>
				</div>
			</div>
		</div>
	</div>
</template>