<template name="familiaresHome">
	<div id="wrapper">
		<div class="row">
			<h3 class="col-sm-9">Familiares<a href="{{pathFor route='familiar.form'}}" class="btn btn-primary btn-xs btn-agregar" data-toggle="tooltip" data-placement="top" title="Agregar familiar"><span class="fui-plus"></span></a></h3>
			<div class="col-sm-3">
				<div class="form-group">
					<div class="input-group" id="filter_div">
					  <input type="search" class="form-control" placeholder="Buscar" id="filter_search">
					  <span class="input-group-btn">
						  <button type="submit" class="btn"><span class="fui-search"></span></button>
					  </span>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 table-responsive show-overflow">
				<table class="footable table table-striped table-bordered table-hover" data-page-size="99999" data-page-navigation=".pagination" data-filter=#filter_search>
					<thead>
						<tr>
							<th data-sort-initial="true">Nombre</th>
							<th data-sort-ignore="true">Email</th>
							<th data-sort-ignore="true">Teléfono 1</th>
							<th data-sort-ignore="true">Teléfono 2</th>

						</tr>
					</thead>
					<tbody>
						{{#each familiares}}
						<tr>
							<td><a href="{{pathFor route='familiar.info'}}">{{apellido}}, {{nombre}}</a></td>
							<td>{{email}}</td>
							<td>{{telefono1}}</td>
							<td>{{telefono2}}</td>
						</tr>
						{{else}}
							<tr>
								<td colspan="5" class="text-center"><p class="text-danger">No hay familiares que mostrar</p></td>
							</tr>

						{{/each}}        
					</tbody>
				</table>
				<p><small>Cantidad de familiares: <strong class="cantidad">{{contarCollection familiares}}</strong></small></p>
			</div>
		</div>
	</div>
</template>