<template name="familiarInfo">
	<h3>{{apellido}}, {{nombre}}</h3>
	<div class="box_border familiarInfo">
				<fieldset>
					<div class="row">
						<div class="col-sm-4">
							<strong><div class="col-sm-6">Nombre:</div></strong>
							<div class="col-sm-6">{{apellido}}, {{nombre}}</div>
						</div>
						<div class="col-sm-4">
						</div>
					</div>
					<div class="row">
						<div class="col-sm-4">
							<strong><div class="col-sm-6">Fecha nacimiento:</div></strong>
							<div class="col-sm-6">{{formatFecha fechaNacimiento}}</div>
						</div>
						<div class="col-sm-4">
							<strong><div class="col-sm-6">Email:</div></strong>
							<div class="col-sm-6">{{email}}</div>
						</div>
					</div>	
					<div class="row">
						<div class="col-sm-4">
							<strong><div class="col-sm-6">Ocupacion:</div></strong>
							<div class="col-sm-6">{{ocupacion}}</div>
						</div>
						<div class="col-sm-4">
							<strong><div class="col-sm-6">Estudios:</div></strong>
							<div class="col-sm-6">{{estudios}}</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-4">
							<strong><div class="col-sm-6">Teléfono 1:</div></strong>
							<div class="col-sm-6">{{telefono1}}</div>
						</div>
						<div class="col-sm-4">
							<strong><div class="col-sm-6">Teléfono 2:</div></strong>
							<div class="col-sm-6">{{telefono2}}</div>
						</div>
					</div>
				</fieldset>
				<p class="text-center">
				<br>
				<br>
				<a href="{{pathFor route='familiares.home'}}" class="btn btn-default">Volver</a>
				<a href="{{pathFor route='familiar.form'}}" class="btn btn-primary">Modificar</a>
				</p>
	</div>
</template>