<template name="familiarForm">
	<h4>Agregar/Modificar Familiar</h4>
	<div class="box_border">
			{{#autoForm collection="Familiares" id="formFamiliar" doc=familiar type=formFamiliarAction class="form-horizontal"}}
				<fieldset>
					<div class="row">
						<div class="col-sm-6">
							{{> afQuickField name='nombre' label-class="col-sm-3" input-col-class="col-sm-9" template="bootstrap3-horizontal" }}
						</div>
						<div class="col-sm-6">
							{{> afQuickField name='apellido' label-class="col-sm-3" input-col-class="col-sm-9" template="bootstrap3-horizontal" }}
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6">
							{{> afQuickField name='fechaNacimiento' label-class="col-sm-3" input-col-class="col-sm-9" template="bootstrap3-horizontal" }}
						</div>
						<div class="col-sm-6">
							{{> afQuickField name='email' label-class="col-sm-3" input-col-class="col-sm-9" template="bootstrap3-horizontal" }}
						</div>
					</div>	
					<div class="row">
						<div class="col-sm-6">
							{{> afQuickField name='ocupacion' label-class="col-sm-3" input-col-class="col-sm-9" template="bootstrap3-horizontal" }}
						</div>
						<div class="col-sm-6">
							{{> afQuickField name='estudios' label-class="col-sm-3" input-col-class="col-sm-9" template="bootstrap3-horizontal" }}
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6">
							{{> afQuickField name='telefono1' label-class="col-sm-3" input-col-class="col-sm-9" template="bootstrap3-horizontal" }}
						</div>
						<div class="col-sm-6">
							{{> afQuickField name='telefono2' label-class="col-sm-3" input-col-class="col-sm-9" template="bootstrap3-horizontal" }}
						</div>
					</div>
				</fieldset>
				<p class="text-center">
					{{#if familiarId }}
						<a href="{{pathFor route='familiar.info' _id=familiarId }}" class="btn btn-default">Cancelar</a>
					{{else}}
						{{#if participanteId}}
							<a href="{{pathFor route='participante.familiares' _id=participanteId}}" class="btn btn-default">Cancelar</a>
						{{else}}
							<a href="{{pathFor route='familiares.home'}}" class="btn btn-default">Cancelar</a>
						{{/if}}
					{{/if}}
					<button type="submit" class="btn btn-primary">{{botonFormFamiliar}}</button>
				</p>
				
			{{/autoForm}}
	</div>
</template>