<template name="participanteMedicosForm">
	<h4>{{apellido}}, {{nombre}}</h4>
	<div class="box_border">
		{{#autoForm collection="Participantes" doc=this id="FormParticipanteMedico" type="update" class="form-horizontal" }}
		<fieldset>
		<legend>Antecedentes personales fisiológicos</legend>
			<div class="row">
				<div class="col-sm-7">
					{{> afQuickField name='datosMedicos.deporte' label-class="col-sm-6" input-col-class="col-sm-6" template="bootstrap3-horizontal" }}
				</div>
				<div class="col-sm-5">
					{{> afQuickField name='datosMedicos.deporteAntiguedad' label-class="col-sm-6" input-col-class="col-sm-6" template="bootstrap3-horizontal" }}
				</div>
			</div>

			<div class="row">
				<div class="col-sm-12">
					{{> afQuickField name='datosMedicos.grupoSang' label-class="col-sm-2" input-col-class="col-sm-3" template="bootstrap3-horizontal" }}
				</div>
			</div>

			<div class="row">
				<div class="col-sm-4">
					{{> afQuickField name='datosMedicos.embarazoNormal' label-class="col-sm-6" input-col-class="col-sm-6" template="bootstrap3-horizontal-switch" }}
				</div>
				<div class="col-sm-3">
					{{> afQuickField name='datosMedicos.parto' label-class="col-sm-4" input-col-class="col-sm-8" template="bootstrap3-horizontal" }}
				</div>
				<div class="col-sm-1"></div>
				<div class="col-sm-4">
					{{> afQuickField name='datosMedicos.aTermino' label-class="col-sm-7" input-col-class="col-sm-5" template="bootstrap3-horizontal-switch" }}
				</div>
			</div>

			<p class="splitter">Vacunas</p>
			<div class="row">
				<div class="col-sm-6">
					{{> afQuickField name='datosMedicos.bcg' label-class="col-sm-6" input-col-class="col-sm-6" template="bootstrap3-horizontal-switch" }}
					{{> afQuickField name='datosMedicos.sabin' label-class="col-sm-6" input-col-class="col-sm-6" template="bootstrap3-horizontal-switch" }}
					{{> afQuickField name='datosMedicos.triple' label-class="col-sm-6" input-col-class="col-sm-6" template="bootstrap3-horizontal-switch" }}
					{{> afQuickField name='datosMedicos.doble' label-class="col-sm-6" input-col-class="col-sm-6" template="bootstrap3-horizontal-switch" }}
					{{> afQuickField name='datosMedicos.antitetanica' label-class="col-sm-6" input-col-class="col-sm-6" template="bootstrap3-horizontal-switch" }}
					{{> afQuickField name='datosMedicos.antisarampionosa' label-class="col-sm-6" input-col-class="col-sm-6" template="bootstrap3-horizontal-switch" }}
				</div>
				<div class="col-sm-6">
					{{> afQuickField name='datosMedicos.tripleViral' label-class="col-sm-6" input-col-class="col-sm-6" template="bootstrap3-horizontal-switch" }}
					{{> afQuickField name='datosMedicos.varicelaVacuna' label-class="col-sm-6" input-col-class="col-sm-6" template="bootstrap3-horizontal-switch" }}
					{{> afQuickField name='datosMedicos.hib' label-class="col-sm-6" input-col-class="col-sm-6" template="bootstrap3-horizontal-switch" }}
					{{> afQuickField name='datosMedicos.antiHepatitisA' label-class="col-sm-6" input-col-class="col-sm-6" template="bootstrap3-horizontal-switch" }}
					{{> afQuickField name='datosMedicos.antiHepatitisB' label-class="col-sm-6" input-col-class="col-sm-6" template="bootstrap3-horizontal-switch" }}
				</div>
			</div>
			{{> afQuickField name='datosMedicos.otrasVacunas' label-class="col-sm-4" input-col-class="col-sm-8" template="bootstrap3-horizontal" }}
			{{> afQuickField name='datosMedicos.vacunaNoCompletadas' label-class="col-sm-4" input-col-class="col-sm-8" template="bootstrap3-horizontal" }}
		</fieldset>

		<fieldset>
		<legend>Antecedentes personales patológicos (enfermedades padecidas)</legend>
		<p class="splitter">Enfermedades de la infancia</p>
		<div class="row">
			<div class="col-sm-6">
				{{> afQuickField name='datosMedicos.sarampion' label-class="col-sm-6" input-col-class="col-sm-6" template="bootstrap3-horizontal-switch" }}
				{{> afQuickField name='datosMedicos.rubeola' label-class="col-sm-6" input-col-class="col-sm-6" template="bootstrap3-horizontal-switch" }}
				{{> afQuickField name='datosMedicos.varicela' label-class="col-sm-6" input-col-class="col-sm-6" template="bootstrap3-horizontal-switch" }}
				{{> afQuickField name='datosMedicos.paperas' label-class="col-sm-6" input-col-class="col-sm-6" template="bootstrap3-horizontal-switch" }}
			</div>
			<div class="col-sm-6">
				{{> afQuickField name='datosMedicos.escarlatina' label-class="col-sm-6" input-col-class="col-sm-6" template="bootstrap3-horizontal-switch" }}
				{{> afQuickField name='datosMedicos.hepatitis' label-class="col-sm-6" input-col-class="col-sm-6" template="bootstrap3-horizontal-switch" }}
				{{> afQuickField name='datosMedicos.fiebreReumatica' label-class="col-sm-6" input-col-class="col-sm-6" template="bootstrap3-horizontal-switch" }}
				{{> afQuickField name='datosMedicos.glomerulonefritis' label-class="col-sm-6" input-col-class="col-sm-6" template="bootstrap3-horizontal-switch" }}
			</div>
		</div>
		{{> afQuickField name='datosMedicos.otrasEnfermedadesInfancia' label-class="col-sm-2" input-col-class="col-sm-10" template="bootstrap3-horizontal" }}

		<p class="splitter">Enfermedades Crónicas</p>
		<div class="row">
			<div class="col-sm-6">
				{{> afQuickField name='datosMedicos.diabetes' label-class="col-sm-6" input-col-class="col-sm-6" template="bootstrap3-horizontal-switch" }}
				{{> afQuickField name='datosMedicos.asma' label-class="col-sm-6" input-col-class="col-sm-6" template="bootstrap3-horizontal-switch" }}
				{{> afQuickField name='datosMedicos.enfermedadRenales' label-class="col-sm-6" input-col-class="col-sm-6" template="bootstrap3-horizontal-switch" }}
			</div>
			<div class="col-sm-6">
				{{> afQuickField name='datosMedicos.enfermedadSangre' label-class="col-sm-6" input-col-class="col-sm-6" template="bootstrap3-horizontal-switch" }}
				{{> afQuickField name='datosMedicos.obesidad' label-class="col-sm-6" input-col-class="col-sm-6" template="bootstrap3-horizontal-switch" }}
			</div>
		</div>

		<p class="splitter">Enfermedades del corazón</p>
		<div class="row">
			<div class="col-sm-6">
				{{> afQuickField name='datosMedicos.cardioCongenita' label-class="col-sm-6" input-col-class="col-sm-6" template="bootstrap3-horizontal-switch" }}
				{{> afQuickField name='datosMedicos.hipertension' label-class="col-sm-6" input-col-class="col-sm-6" template="bootstrap3-horizontal-switch" }}
			</div>
			<div class="col-sm-6">
				{{> afQuickField name='datosMedicos.soplos' label-class="col-sm-6" input-col-class="col-sm-6" template="bootstrap3-horizontal-switch" }}
				{{> afQuickField name='datosMedicos.arritmias' label-class="col-sm-6" input-col-class="col-sm-6" template="bootstrap3-horizontal-switch" }}
			</div>
		</div>

		<p class="splitter">Enfermedades respiratorias</p>
		<div class="row">
			<div class="col-sm-6">
				{{> afQuickField name='datosMedicos.sinusitis' label-class="col-sm-6" input-col-class="col-sm-6" template="bootstrap3-horizontal-switch" }}
				{{> afQuickField name='datosMedicos.otitis' label-class="col-sm-6" input-col-class="col-sm-6" template="bootstrap3-horizontal-switch" }}
			</div>
			<div class="col-sm-6">
				{{> afQuickField name='datosMedicos.bronquitis' label-class="col-sm-6" input-col-class="col-sm-6" template="bootstrap3-horizontal-switch" }}
				{{> afQuickField name='datosMedicos.neumonia' label-class="col-sm-6" input-col-class="col-sm-6" template="bootstrap3-horizontal-switch" }}
			</div>
		</div>
		{{> afQuickField name='datosMedicos.otrasEnfermedadesRespiratorias' label-class="col-sm-2" input-col-class="col-sm-10" template="bootstrap3-horizontal" }}

		<p class="splitter">Enfermedades de los huesos, músculos y articulaciones</p>
		<div class="row">
			<div class="col-sm-6">
				{{> afQuickField name='datosMedicos.desgarros' label-class="col-sm-6" input-col-class="col-sm-6" template="bootstrap3-horizontal-switch" }}
				{{> afQuickField name='datosMedicos.esguinces' label-class="col-sm-6" input-col-class="col-sm-6" template="bootstrap3-horizontal-switch" }}
			</div>
			<div class="col-sm-6">
				<div class="form-group">
					<div class="col-sm-12">
						{{> afQuickField name='datosMedicos.fracturas' label-class="col-sm-6" input-col-class="col-sm-6" template="bootstrap3-horizontal-switch" }}
					</div>
					<div class="col-sm-11">
						{{> afQuickField name='datosMedicos.fracturasInfo' label-class="col-sm-12" input-col-class="col-sm-12" template="bootstrap3-horizontal" }}
					</div>
				</div>
			</div>
		</div>


		<p class="splitter">Enfermedades del sistema nervioso</p>
		<div class="row">
			<div class="col-sm-6">
				{{> afQuickField name='datosMedicos.mareos' label-class="col-sm-6" input-col-class="col-sm-6" template="bootstrap3-horizontal-switch" }}
				{{> afQuickField name='datosMedicos.desmayos' label-class="col-sm-6" input-col-class="col-sm-6" template="bootstrap3-horizontal-switch" }}
				{{> afQuickField name='datosMedicos.convulsiones' label-class="col-sm-6" input-col-class="col-sm-6" template="bootstrap3-horizontal-switch" }}
			</div>
			<div class="col-sm-6">
				{{> afQuickField name='datosMedicos.convulsionesEjercicio' label-class="col-sm-7" input-col-class="col-sm-5" template="bootstrap3-horizontal-switch" }}
				{{> afQuickField name='datosMedicos.traumatismoCraneo' label-class="col-sm-7" input-col-class="col-sm-5" template="bootstrap3-horizontal-switch" }}
			</div>
		</div>

		<p class="splitter">Enfermedades del aparato digestivo</p>
		<div class="row">
			<div class="col-sm-6">
				{{> afQuickField name='datosMedicos.celiaca' label-class="col-sm-6" input-col-class="col-sm-6" template="bootstrap3-horizontal-switch" }}
			</div>
			<div class="col-sm-6">
				{{> afQuickField name='datosMedicos.parasitos' label-class="col-sm-6" input-col-class="col-sm-6" template="bootstrap3-horizontal-switch" }}
			</div>
		</div>
		{{> afQuickField name='datosMedicos.otrasEnfermedadesDigestivas' label-class="col-sm-2" input-col-class="col-sm-10" template="bootstrap3-horizontal" }}


		<p class="splitter">Enfermedades de la piel</p>
		{{> afQuickField name='datosMedicos.enfermedadesPiel' label-class="col-sm-2" input-col-class="col-sm-10" template="bootstrap3-horizontal" }}

		<p class="splitter">Enfermedades de los ojos</p>
		<div class="row">
			<div class="col-sm-6">
				{{> afQuickField name='datosMedicos.anteojos' label-class="col-sm-6" input-col-class="col-sm-6" template="bootstrap3-horizontal-switch" }}
			</div>
			<div class="col-sm-6">
			{{> afQuickField name='datosMedicos.lentesContacto' label-class="col-sm-6" input-col-class="col-sm-6" template="bootstrap3-horizontal-switch" }}
			</div>
		</div>

		<p class="splitter">Alergias</p>
		{{> afQuickField name='datosMedicos.alergias' label-class="col-sm-5" input-col-class="col-sm-7" template="bootstrap3-horizontal" }}

		</fieldset>

		<fieldset>
		<legend>Otras</legend>
		<div class="row">
			<div class="col-sm-4">
				{{> afQuickField name='datosMedicos.medicamentos' label-class="col-sm-9" input-col-class="col-sm-3" template="bootstrap3-horizontal-switch" }}
			</div>
			<div class="col-sm-8">
				{{> afQuickField name='datosMedicos.medicamentosInfo' label-class="col-sm-3" input-col-class="col-sm-9" template="bootstrap3-horizontal" }}
			</div>
		</div>

		<div class="row">
			<div class="col-sm-4">
				{{> afQuickField name='datosMedicos.internado' label-class="col-sm-9" input-col-class="col-sm-3" template="bootstrap3-horizontal-switch" }}
			</div>
			<div class="col-sm-8">
				{{> afQuickField name='datosMedicos.internadoInfo' label-class="col-sm-3" input-col-class="col-sm-9" template="bootstrap3-horizontal" }}
			</div>
		</div>

		<div class="row">
			<div class="col-sm-12">
				{{> afQuickField name='datosMedicos.puedeActividad' label-class="col-sm-4" input-col-class="col-sm-4" template="bootstrap3-horizontal-switch" }}
			</div>
		</div>

		<div class="row">
			<div class="col-sm-12">
				{{> afQuickField name='datosMedicos.observaciones' label-class="col-sm-2" input-col-class="col-sm-10" template="bootstrap3-horizontal" rows="4" }}
			</div>
		</div>
		</fieldset>

		<div class="text-center">
			<p class="text-center">
				<a href="{{pathFor route='participante.info'}}" class="btn btn-default">Cancelar</a>
				<button type="submit" class="btn btn-primary">Aceptar</button>
			</p>
		</div>				
		{{/autoForm}}
	</div>
</template>