<template name="participanteBiografiaForm">
	{{#autoForm collection="Participantes" doc=participante id="FormBiografia" type="update" }}
		{{> afQuickField name='biografia' label-class="sr-only" template="bootstrap3-horizontal" }}

	<br>
	<p class="text-center">
		<a href="{{pathFor route='participante.biografia'}}" class="btn btn-default">Cancelar</a>
		<button type="submit" class="btn btn-primary">Aceptar</button>
	</p>
	{{/autoForm}}

</template>