<template name="participanteTalleres">
	<fieldset>
		{{#if activo}}
			<legend>Talleres en los que participa</legend>
			<div id="talleres_checkboxes">
			{{#each talleres}}
				{{> participanteTalleresEach}}
			{{/each}}
			</div>
		{{else}}
			<p class="text-danger">El participante está inactivo. No se pueden agregar participantes inactivos a un taller. Cambiar el estado del participante y luego volver para agregarlo al taller.</p>
		{{/if}}
	</fieldset>
	<br>
	<div class="text-center">
	{{#if esInscripcion }}
		<a href="{{pathFor route="participante.familiares"}}" class="btn btn-primary">Siguiente</a>
	{{else}}
		<a href="{{pathFor route="participante.info"}}" class="btn btn-primary">Volver</a>
	{{/if}}
	</div>
</template>