<template name="participanteFamiliares">
	<legend>Familiares del participante</legend>
	<div class="row">
		<div class="col-sm-4">
			<div class="form-group">
				<input class="form-control typeahead" id="" type="text" placeholder="Buscar familiar" autocomplete="off" spellcheck="off" data-sets="familiaresTypeahead" data-selected="selected">
			</div>
		</div>
		<div class="col-sm-2">
			<a href="{{pathFor route='familiar.form' _id='' query='backto=participante' hash=_id}}" class="btn btn-primary btn-xs agregarFamiliar" data-toggle="tooltip" data-placement="top" title="Si no aparece en la lista, agregar datos del familiar"><span class="fui-plus"></span></a>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12" id="row_relacion_wrapper">
		<div id="row_relacion">
			<div class="row">
				<div class="col-sm-12">
					<div class="form-group">
						<label class="control-label small col-sm-2" for="relacion">Relación:</label>
						<div class="col-sm-4">
							<input type="text" placeholder="Relación" class="form-control col-sm-4" name="relacion" id="relacion" value="">
						</div>
						<div class="col-sm-6">
							<p><em><small>(madre, padre, hermano/a, tío/a, etc.)</small></em></p>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<div class="form-group fix_checkbox_icon">
						<label class="checkbox emergencia_checkbox" for="emergencia">¿Contacto de emergencia?
							<input type="checkbox" data-toggle="checkbox" name="emergencia" id="emergencia">
						</label>
					</div>
				</div>
			</div>
			<p class="text-danger error-relacion"><small><em>* El campo "relación" no puede estar vacío</em></small></p>
			<div class="row text-center">
				<a class="btn btn-sm btn-default cancelarRelacion" href="#">Cancelar</a>
				<a class="btn btn-sm btn-primary agregarRelacion" href="#">Agregar relación</a>
			</div>
		</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12">
			<table class="footable table table-striped table-bordered table-hover" id="tabla_familiares">
				<thead>
				<tr>
					<th class="col-sm-5" data-sort-initial="true">Nombre</th>
					<th class="col-sm-3" data-sort-ignore="true">Relación</th>
					<th class="col-sm-2" data-sort-ignore="true"></th>
				</tr>
				</thead>
				<tbody>
					{{#each familiares}}
						<tr>
							{{#if esParticipante id}}
								<td><a href="{{pathFor route='participante.info' _id=this.id }}">{{getApellidoNombre id}}</a></td>
								<td>{{relacion}}</td>
								<td class="text-center icons-familiares">
								{{#if emergencia }}
									<span class="icon-danger text-danger" data-toggle="tooltip" data-placement="top" title="Es un contacto de emergencia"></span>
								{{/if}}
								<span class="icon-groups-friends text-warning" data-toggle="tooltip" data-placement="top" title="Es participante de El&nbsp;Desafio"></span>
								<a href="#" class="borrarRelacion" data-toggle="tooltip" data-placement="top" title="Borrar relación" ><span class="fui-trash"></span></a>
								</td>
							{{else}}
								<td><a href="{{pathFor route='familiar.info' _id=id}}">{{{getApellidoNombre id}}}</a></td>
								<td>{{relacion}}</td>
								<td class="text-center icons-familiares">
								{{#if emergencia }}
									<span class="icon-danger text-danger" data-toggle="tooltip" data-placement="top" title="Es un contacto de emergencia"></span>
								{{/if}}
								{{#if isInRole 'admin'}}
									<a href="#" class="borrarRelacion" data-toggle="tooltip" data-placement="top" title="Borrar relación" ><span class="fui-trash"></span></a>
								{{/if}}
								</td>
							{{/if}}
						</tr>        
					{{/each}}
				</tbody>
			</table>
		</div>
	</div>
	<p class="text-center">
		{{#if esInscripcion}}
			<a href="#" class="btn btn-primary btnFinalizar">Finalizar</a>
		{{/if}}
	</p>
</template>


