<template name="participanteBiografia">
	{{{biografia}}}
	{{#if isInRole 'admin'}}
		<p class="text-center">
			<br><br>
			<a href="{{pathFor route='participante.biografiaForm'}}" class="btn btn-primary btn-md">Editar biografía</a>
		</p>
	{{/if}}
</template>