<template name="participanteInfoAside">
	<ul class="nav nav-list nav-list-vivid col-sm-3">
	  <li class="{{isActiveRoute regex='participante.info|participante.talleres'}}"><a href="{{pathFor route='participante.info'}}">Información General</a></li>
	  <li class="{{isActiveRoute regex='participante.medicos'}}"><a href="{{pathFor route='participante.medicos'}}">Datos médicos</a></li>
	  <li class="{{isActiveRoute regex='participante.diario'}}"><a href="{{pathFor route='participante.diario'}}">Diario</a></li>
	  <li class="{{isActiveRoute regex='participante.biografia'}}"><a href="{{pathFor route='participante.biografia'}}">Biografía</a></li>
	  <li class="{{isActiveRoute regex='participante.familiares'}}"><a href="{{pathFor route='participante.familiares'}}">Familiares</a></li>
	</ul>
</template>