<template name="participanteTalleresEach">
	<div class="col-sm-4">
		<label class="checkbox {{checkboxState}}" for="{{_id}}">
			<input type="checkbox" name="{{_id}}" id="{{_id}}" data-toggle="checkbox" {{checkboxState}} {{checkedOnOff}}>
			<strong>{{nombre}}</strong>
		</label>
		<div class="info_taller_checkboxes">
			<p>Sexo: {{sexo}}</p>
			{{!-- Poner en rojo cuando haya menos de 3 --}}
			<p>Cupos disponibles: <span class="{{cuposDisponiblesClass}}">{{cuposDisponibles}}</span> de {{cupo}}</p>
			<p>Edad: {{edadDesde}} a {{edadHasta}} años</p>
		</div>
	</div>
</template>