<template name="participanteInfo">
	<div class="row">
		<h6>Datos personales
			{{#if isInRole 'admin'}}
				<a href="{{pathFor route='participante.form'}}" class="btn_acciones" data-toggle="tooltip" data-placement="top" title="Modificar">
					<span class="fui-new"></span>
				</a>
			{{/if}}
		</h6>
		<div class="col-sm-3 col-sm-push-9">
			<div class="col-sm-12" id="foto_container">
				{{#if foto}}
					{{#with FS.GetFile "images" foto}}
					  <img src="{{this.url store='imagesStore'}}" alt="" class="img-thumbnail foto_participante avatar" width="175px" height="175px">
					{{/with}}
				{{else}}
					<div class="text-center"><img src="/images/profile_picture.png" alt="" class="img-thumbnail foto_participante avatar" width="175px" height="175px"></div>
				{{/if}}
			</div>
			
			<div class="col-sm-12 estrellas_container">
				<a href="#" class="estrellas_info" data-toggle="tooltip" data-placement="top" title="Quitar estrella">
					{{{renderEstrellas estrellas}}}
				</a>
			</div>
			<div class="col-sm-12">
				<a href="#" class="{{btnActiveState activo}} btnParticipanteActivo" data-toggle="tooltip" data-placement="top" title="Cambiar estado del participante">
					{{getActiveState activo}}
				</a>
			</div>

		</div>
		
		<div class="col-sm-9 col-sm-pull-3">
			<div class="row">
				<div class="col-sm-4"><strong>Fecha de nacimiento: </strong></div>
				<div class="col-sm-8">{{formatFecha fechaNacimiento}}</div>
			</div>
			<div class="row">
				<div class="col-sm-4"><strong>Edad: </strong></div>
				<div class="col-sm-8">{{calcularEdad fechaNacimiento}} años</div>
			</div>
			<div class="row">
				<div class="col-sm-4"><strong>Sexo: </strong></div>
				<div class="col-sm-8">{{sexo}}</div>
			</div>
			<div class="row">
				<div class="col-sm-4"><strong>DNI: </strong></div>
				<div class="col-sm-8">{{dni}}</div>
			</div>
			<div class="row">
				<div class="col-sm-4"><strong>Dirección: </strong></div>
				<div class="col-sm-8">{{direccion}}</div>
			</div>
			<div class="row">
				<div class="col-sm-4"><strong>Telefono: </strong></div>
				<div class="col-sm-8">{{telefono}}</div>
			</div>
			<div class="row">
				<div class="col-sm-4"><strong>Email: </strong></div>
				<div class="col-sm-8">{{email}}</div>
			</div>
			<div class="row">
				<div class="col-sm-4"><strong>Escuela: </strong></div>
				<div class="col-sm-8">{{escuela}}</div>
			</div>
			<div class="row">
				<div class="col-sm-4"><strong>Grado o año: </strong></div>
				<div class="col-sm-8">{{gradoAno}}</div>
			</div>
			<div class="row">
				<div class="col-sm-4"><strong>Obra social: </strong></div>
				<div class="col-sm-8">{{obraSocial}}</div>
			</div>
			<br>
			<div class="row">
				<div class="col-sm-12">
					<strong>Los padres o tutores se comprometieron a:&nbsp;&nbsp;&nbsp;</strong>
					{{#each compromisoPadres}}
						<span class="label label-primary">{{this}}</span>
					{{/each}}
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-sm-12"><p class="documentos_presentados title_small">Documentos presentados: </p></div>
			</div>
			<div class="row">
				<div class="col-sm-4"><strong>Apto médico: </strong></div>
				<div class="col-sm-1">{{{checkmark docAptoMedico}}}</div>
				<div class="col-sm-2"><strong>Fecha: </strong></div>
				<div class="col-sm-4">
					{{#if fechaAptoMedico}}
						{{formatFecha fechaAptoMedico}}
					{{/if}}
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4"><strong>DNI: </strong></div>
				<div class="col-sm-8">{{{checkmark docDni}}}</div>
			</div>
			<div class="row">
				<div class="col-sm-4"><strong>Partida de nacimiento: </strong></div>
				<div class="col-sm-8">{{{checkmark docPartida}}}</div>
			</div>
			<div class="row">
				<div class="col-sm-4"><strong>Carnet de vacunación: </strong></div>
				<div class="col-sm-8">{{{checkmark docCarnetVacuna}}}</div>
			</div>
		</div>
	</div>
	<div class="row">
		<h6>Talleres y asistencias totales
			{{#if isInRole 'admin'}}
				<a href="{{pathFor route='participante.talleres'}}" class="btn_acciones" data-toggle="tooltip" data-placement="top" title="Modificar los talleres donde participa">
				  <span class="fui-new"></span>
				</a>
			{{/if}}
		</h6>
		<div class="col-sm-6 col-sm-push-6">
			{{> highchartsHelper chartId="graphAsistenciaParticipante" chartWidth="100%" charHeight="100%" chartObject=graphAsistenciaParticipante}}
		</div>
		
		<div class="col-sm-6 col-sm-pull-6">
			<div class="row">
				<div class="col-sm-5"><strong>Talleres activos: </strong></div>
				<div class="col-sm-7">
					{{#each talleresActivos}}
						<span class="label label-primary">{{nombre}}</span>
					{{/each}}
				</div>
			</div>
			<div class="row">
				<div class="col-sm-5"><strong>En lista de espera: </strong></div>
				<div class="col-sm-7">
						{{#each talleresEspera}}
							<span class="label label-default">{{nombre}}</span>
						{{/each}}
				</div>
			</div>
			<div class="row">
				<div class="col-sm-5"><strong>Talleres inactivos: </strong></div>
				<div class="col-sm-7">
					{{#each talleresInactivos}}
						<span class="label label-info">{{nombre}}</span>
					{{/each}}
				</div>
			</div>
		</div>
	</div>
</template>