<template name="participanteInfoMaster">
	{{!-- Titulo --}}
	<div class="row">
		<h3 class="col-sm-9 col-sm-push-3">{{apellido}}, {{nombre}}
	 		{{#if pageIsDatosMedicos}}
		 		{{#if isInRole 'admin'}}
		 			<a href="{{pathFor route='participante.medicosForm'}}" class="btn_acciones" data-toggle="tooltip" data-placement="top" title="Modificar los datos médicos">
		 			  <span class="fui-new"></span>
		 			</a>
		 		{{/if}}
	 		{{/if}}
		</h3>
		<div class="col-sm-3 col-sm-push-3">
		</div>
	</div>

	<div class="row" id="infoParticipante">
		{{!-- Barra lateral --}}
		{{>yield "aside"}}
		{{!-- Contenido principal --}}
		<div class="col-sm-9">
		<div class="box_border">
			{{>yield "participanteMain"}}
		</div>
		</div>
	</div> 
</template>