<template name="participanteForm">
<h4>Agregar/Modificar participante</h4>
<div class="box_border">
    {{#autoForm collection="Participantes" doc=participante id="form-participante" type=formType }}
    <fieldset>
    <h6>Datos personales</h6>
      <div class="row"> 
        <div class="col-sm-3 col-sm-push-9" id="foto_container">
          {{>fotoPerfilForm foto=foto}}
          <div class="hidden">{{> afQuickField name='foto' id="fotoUrl" label-class="sr-only" placeholder="Foto" }}</div>

          <div class="col-sm-12">{{> afQuickField name='sexo' }}</div>
        </div>
        <div class="col-sm-9 col-sm-pull-3">
            <div class="col-sm-6">{{> afQuickField name='nombre'}}</div>
            <div class="col-sm-6">{{> afQuickField name='apellido'}}</div>
            <div class="col-sm-6">{{> afQuickField name='fechaNacimiento' }}</div>
            <div class="col-sm-6">{{> afQuickField name='dni' }}</div>
            <div class="col-sm-6">{{> afQuickField name='direccion' }}</div>
            <div class="col-sm-6">{{> afQuickField name='ciudad' }}</div>
            <div class="col-sm-6">{{> afQuickField name='telefono' }}</div>
            <div class="col-sm-6">{{> afQuickField name='email' }}</div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">{{> afQuickField name='escuela' }}</div>
        <div class="col-sm-2">{{> afQuickField name='gradoAno' }}</div>
        <div class="col-sm-4">{{> afQuickField name='obraSocial' }}</div>
      </div>

      <h6>Documentos presentados</h6>
      <div class="col-sm-12" id="checkboxes_documentos">
        <div class="row">
          <div class="col-sm-3">
            {{> afQuickField name='docAptoMedico' }}
          </div>
          <div class="col-sm-9">
            {{> afQuickField name='fechaAptoMedico' }}
          </div>

        </div>
        
        <div class="row">
          <div class="col-sm-12">
            {{> afQuickField name='docDni' }}
            {{> afQuickField name='docPartida' }}
            {{> afQuickField name='docCarnetVacuna' }}
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            {{> afQuickField name='compromisoPadres' }}
          </div>
        </div>
      </div>
    </fieldset>
    <br>
    <p class="text-center">
      {{#if participanteId }}
        <a href="{{pathFor route='participante.info' _id=participanteId }}" class="btn btn-default">Cancelar</a>
      {{else}}
        <a href="{{pathFor route='participantes.home'}}" class="btn btn-default">Cancelar</a>
      {{/if}}
      <button type="submit" class="btn btn-primary" disabled="{{isUploading}}">{{botonFormParticipante}}</button>
    </p>
    {{/autoForm}}
</div>
</template>