<template name="participanteDiario">
	<table class="footable table table-striped table-bordered table-hover">
		<thead>
			<tr>
				<th class="col-sm-3" data-sort-initial="true">Fecha</th>
				<th class="col-sm-8" data-sort-ignore="true">Título</th>
			</tr>
		</thead>
		<tbody>
			{{#each diario}}
				<tr>
					<td data-value="{{formatFechaHoraForSorting fecha}}">{{formatFechaHora fecha}}</td>
					<td class="tituloDiario">
						<span data-toggle="tooltip" data-placement="top" title="{{descripcion}}">
							<a href="{{pathFor route='participante.diarioEvento' _id=../_id eventoId=_id }}" class="">{{titulo}}</a>
						</span>
					</td>
				</tr>
			{{/each}}
		</tbody>
	</table>
	<br>
	<p class="text-center"><a href="{{pathFor route='participante.diarioForm'}}" class="btn btn-primary btn-md">Agregar evento</a></p>

</template>