<template name="participanteMedicos">
	<div class="row">
		<h6><strong>Antecedentes personales fisiológicos</strong></h6>
		<div class="col-sm-12">
			<div class="row">
				<div class="col-sm-3">Deporte que practica: </div>
				<div class="col-sm-3">{{datosMedicos.deporte}}</div>
				<div class="col-sm-4">Antigüedad en esta actividad: </div>
				<div class="col-sm-2">{{datosMedicos.deporteAntiguedad}}</div>
			</div>
			<div class="row">
				<div class="col-sm-3">Grupo sanguíneo y RH: </div>
				<div class="col-sm-3">{{datosMedicos.grupoSang}}</div>
			</div>
			<div class="row">
				<div class="col-sm-3">Embarazo normal: </div>
				<div class="col-sm-1">{{{checkmark datosMedicos.embarazoNormal}}}</div>
				<div class="col-sm-1">Parto: </div>
				<div class="col-sm-2">{{datosMedicos.parto}}</div>
				<div class="col-sm-4 text-right">Nacido a término (9 meses): </div>
				<div class="col-sm-1">{{{checkmark datosMedicos.aTermino}}}</div>
			</div>
		</div>
	</div>

	<div class="row">
		<h6 class="title_small"><strong>Vacunas</strong></h6>
		<div class="col-sm-6">
			<div class="row">
				<div class="col-sm-7">BCG: </div>
				<div class="col-sm-4">{{{checkmark datosMedicos.bcg}}}</div>
			</div>
			<div class="row">
				<div class="col-sm-7">Sabin: </div>
				<div class="col-sm-4">{{{checkmark datosMedicos.sabin}}}</div>
			</div>
			<div class="row">
				<div class="col-sm-7">Triple (DPT): </div>
				<div class="col-sm-4">{{{checkmark datosMedicos.triple}}}</div>
			</div>
			<div class="row">
				<div class="col-sm-7">Doble (DT): </div>
				<div class="col-sm-4">{{{checkmark datosMedicos.doble}}}</div>
			</div>
			<div class="row">
				<div class="col-sm-7">Antitetánica: </div>
				<div class="col-sm-4">{{{checkmark datosMedicos.antitetanica}}}</div>
			</div>
			<div class="row">
				<div class="col-sm-7">Antisarampionosa: </div>
				<div class="col-sm-4">{{{checkmark datosMedicos.antisarampionosa}}}</div>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="row">
				<div class="col-sm-7">Triple viral: </div>
				<div class="col-sm-4">{{{checkmark datosMedicos.tripleViral}}}</div>
			</div>
			<div class="row">
				<div class="col-sm-7">Varicela: </div>
				<div class="col-sm-4">{{{checkmark datosMedicos.varicelaVacuna}}}</div>
			</div>
			<div class="row">
				<div class="col-sm-7">HIB <small>(Haemophilus influenza tipo B)</small>: </div>
				<div class="col-sm-4">{{{checkmark datosMedicos.hib}}}</div>
			</div>
			<div class="row">
				<div class="col-sm-7">Anti-hepatitis A: </div>
				<div class="col-sm-4">{{{checkmark datosMedicos.antiHepatitisA}}}</div>
			</div>
			<div class="row">
				<div class="col-sm-7">Anti-hepatitis B: </div>
				<div class="col-sm-4">{{{checkmark datosMedicos.antiHepatitisB}}}</div>
			</div>
		</div>
		<div class="col-sm-12">
			<div class="row">
				<div class="col-sm-4">Otras <small>(nombre y cantidad de dosis)</small>:</div>
				<div class="col-sm-8">{{datosMedicos.otrasVacunas}}</div>
			</div>
			<div class="row">
				<div class="col-sm-4">Vacunas no completadas:</div>
				<div class="col-sm-8">{{datosMedicos.vacunaNoCompletadas}}</div>
			</div>
		</div>
	</div>

	<div class="row">
		<h6><strong>Antecedentes personales patológicos</strong> (enfermedades padecidas)</h6>
		<h6 class="title_small"><strong>Enfermedades de la infancia</strong></h6>
		<div class="col-sm-6">
			<div class="row">
				<div class="col-sm-7">Sarampión: </div>
				<div class="col-sm-4">{{{checkmark datosMedicos.sarampion}}}</div>
			</div>
			<div class="row">
				<div class="col-sm-7">Rubéola: </div>
				<div class="col-sm-4">{{{checkmark datosMedicos.rubeola}}}</div>
			</div>
			<div class="row">
				<div class="col-sm-7">Varicela: </div>
				<div class="col-sm-4">{{{checkmark datosMedicos.varicela}}}</div>
			</div>
			<div class="row">
				<div class="col-sm-7">Paperas: </div>
				<div class="col-sm-4">{{{checkmark datosMedicos.paperas}}}</div>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="row">
				<div class="col-sm-7">Escarlatina: </div>
				<div class="col-sm-4">{{{checkmark datosMedicos.escarlatina}}}</div>
			</div>
			<div class="row">
				<div class="col-sm-7">Hepatitis: </div>
				<div class="col-sm-4">{{{checkmark datosMedicos.hepatitis}}}</div>
			</div>
			<div class="row">
				<div class="col-sm-7">Fiebre reumática:</div>
				<div class="col-sm-4">{{{checkmark datosMedicos.fiebreReumatica}}}</div>
			</div>
			<div class="row">
				<div class="col-sm-7">Glomerulonefritis: </div>
				<div class="col-sm-4">{{{checkmark datosMedicos.glomerulonefritis}}}</div>
			</div>
		</div>
		<div class="col-sm-12">
			<div class="row">
				<div class="col-sm-1">Otras:</div>
				<div class="col-sm-11">{{datosMedicos.otrasEnfermedadesInfancia}}</div>
			</div>
		</div>
	</div>
	<div class="row">
		<h6 class="title_small"><strong>Enfermedades Crónicas</strong></h6>
		<div class="col-sm-6">
			<div class="row">
				<div class="col-sm-7">Diabetes: </div>
				<div class="col-sm-4">{{{checkmark datosMedicos.diabetes}}}</div>
			</div>
			<div class="row">
				<div class="col-sm-7">Asma: </div>
				<div class="col-sm-4">{{{checkmark datosMedicos.asma}}}</div>
			</div>
			<div class="row">
				<div class="col-sm-7">Enfermedades renales: </div>
				<div class="col-sm-4">{{{checkmark datosMedicos.enfermedadRenales}}}</div>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="row">
				<div class="col-sm-7">Enfermedades de la sangre: </div>
				<div class="col-sm-4">{{{checkmark datosMedicos.enfermedadSangre}}}</div>
			</div>
			<div class="row">
				<div class="col-sm-7">Obesidad: </div>
				<div class="col-sm-4">{{{checkmark datosMedicos.obesidad}}}</div>
			</div>
		</div>
	</div>

	<div class="row">
		<h6 class="title_small"><strong>Enfermedades del corazón</strong></h6>
		<div class="col-sm-6">
			<div class="row">
				<div class="col-sm-9">Cardiopatías congénitas <small>(de nacimiento)</small>: </div>
				<div class="col-sm-3">{{{checkmark datosMedicos.cardioCongenita}}}</div>
			</div>
			<div class="row">
				<div class="col-sm-9">Hipertensión arterial <small>(tensión alta)</small>: </div>
				<div class="col-sm-3">{{{checkmark datosMedicos.hipertension}}}</div>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="row">
				<div class="col-sm-7">Soplos: </div>
				<div class="col-sm-4">{{{checkmark datosMedicos.soplos}}}</div>
			</div>
			<div class="row">
				<div class="col-sm-7">Arritmias: </div>
				<div class="col-sm-4">{{{checkmark datosMedicos.arritmias}}}</div>
			</div>
		</div>
	</div>

	<div class="row">
		<h6 class="title_small"><strong>Enfermedades respiratorias</strong></h6>
		<div class="col-sm-6">
			<div class="row">
				<div class="col-sm-7">Sinusitis: </div>
				<div class="col-sm-4">{{{checkmark datosMedicos.sinusitis}}}</div>
			</div>
			<div class="row">
				<div class="col-sm-7">Otitis a repetición: </div>
				<div class="col-sm-4">{{{checkmark datosMedicos.otitis}}}</div>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="row">
				<div class="col-sm-7">Bronquitis a repetición: </div>
				<div class="col-sm-4">{{{checkmark datosMedicos.bronquitis}}}</div>
			</div>
			<div class="row">
				<div class="col-sm-7">Neumonía: </div>
				<div class="col-sm-4">{{{checkmark datosMedicos.neumonia}}}</div>
			</div>
		</div>
		<div class="col-sm-12">
			<div class="row">
				<div class="col-sm-1">Otras:</div>
				<div class="col-sm-11">{{datosMedicos.otrasEnfermedadesRespiratorias}}</div>
			</div>
		</div>
	</div>

	<div class="row">
		<h6 class="title_small"><strong>Enfermedades de los huesos, músculos y articulaciones</strong></h6>
		<div class="col-sm-6">
			<div class="row">
				<div class="col-sm-7">Desgarros musculares: </div>
				<div class="col-sm-4">{{{checkmark datosMedicos.desgarros}}}</div>
			</div>
			<div class="row">
				<div class="col-sm-7">Esguinces: </div>
				<div class="col-sm-4">{{{checkmark datosMedicos.esguinces}}}</div>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="row">
				<div class="col-sm-7">Fracturas: </div>
				<div class="col-sm-4">{{{checkmark datosMedicos.fracturas}}}</div>
			</div>
			<div class="row">
				<div class="col-sm-12"><p class="small small_line_height">Tipo y localización de la fractura, tiempo de <br>inactividad y si hubo o no rehabilitación:</p></div>
				<div class="col-sm-12">{{datosMedicos.fracturasInfo}}</div>
			</div>
		</div>
	</div>

	<div class="row">
		<h6 class="title_small"><strong>Enfermedades del sistema nervioso</strong></h6>
		<div class="col-sm-5">
			<div class="row">
				<div class="col-sm-8">Mareos en reposo: </div>
				<div class="col-sm-4">{{{checkmark datosMedicos.mareos}}}</div>
			</div>
			<div class="row">
				<div class="col-sm-8">Desmayos en reposo: </div>
				<div class="col-sm-4">{{{checkmark datosMedicos.desmayos}}}</div>
			</div>
			<div class="row">
				<div class="col-sm-8">Convulsiones: </div>
				<div class="col-sm-4">{{{checkmark datosMedicos.convulsiones}}}</div>
			</div>
		</div>
		<div class="col-sm-7">
			<div class="row">
				<div class="col-sm-8">Convulsiones después de ejercicio: </div>
				<div class="col-sm-4">{{{checkmark datosMedicos.convulsionesEjercicio}}}</div>
			</div>
			<div class="row">
				<div class="col-sm-8">Traumatismo de cráneo con internación: </div>
				<div class="col-sm-4">{{{checkmark datosMedicos.traumatismoCraneo}}}</div>
			</div>
		</div>
	</div>

	<div class="row">
		<h6 class="title_small"><strong>Enfermedades del aparato digestivo</strong></h6>
		<div class="col-sm-6">
			<div class="row">
				<div class="col-sm-7">Enfermedad celíaca: </div>
				<div class="col-sm-4">{{{checkmark datosMedicos.celiaca}}}</div>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="row">
				<div class="col-sm-7">Parásitos: </div>
				<div class="col-sm-4">{{{checkmark datosMedicos.parasitos}}}</div>
			</div>
		</div>
		<div class="col-sm-12">
			<div class="row">
				<div class="col-sm-1">Otras:</div>
				<div class="col-sm-11">{{datosMedicos.otrasEnfermedadesDigestivas}}</div>
			</div>
		</div>
	</div>

	<div class="row">
		<h6 class="title_small"><strong>Enfermedades de la piel</strong></h6>
		<div class="col-sm-12">
			<div class="row">
				<div class="col-sm-1">Detalle:</div>
				<div class="col-sm-11">{{datosMedicos.enfermedadesPiel}}</div>
			</div>
		</div>
	</div>

	<div class="row">
		<h6 class="title_small"><strong>Enfermedades de los ojos</strong></h6>
		<div class="col-sm-6">
			<div class="row">
				<div class="col-sm-7">Usa anteojos: </div>
				<div class="col-sm-4">{{{checkmark datosMedicos.anteojos}}}</div>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="row">
				<div class="col-sm-7">Usa lentes de contacto: </div>
				<div class="col-sm-4">{{{checkmark datosMedicos.lentesContacto}}}</div>
			</div>
		</div>
	</div>

	<div class="row">
		<h6 class="title_small"><strong>Alergias</strong></h6>
		<div class="col-sm-12">
			<div class="row">
				<div class="col-sm-1">Detalle:</div>
				<div class="col-sm-11">{{datosMedicos.alergias}}</div>
			</div>
		</div>
	</div>

	<div class="row">
		<h6><strong>Otras</strong></h6>
		<div class="col-sm-12">
			<div class="row">
				<div class="col-sm-4">Está tomando medicamentos: </div>
				<div class="col-sm-1">{{{checkmark datosMedicos.medicamentos}}}</div>
				<div class="col-sm-2">Nombres: </div>
				<div class="col-sm-5">{{datosMedicos.medicamentosInfo}}</div>
			</div>
			<div class="row">
				<div class="col-sm-4">Ha estado internado: </div>
				<div class="col-sm-1">{{{checkmark datosMedicos.internado}}}</div>
				<div class="col-sm-2">Motivo: </div>
				<div class="col-sm-5">{{datosMedicos.internadoInfo}}</div>
			</div>
			<div class="row">
				<div class="col-sm-4">Puede realizar actividad física: </div>
				<div class="col-sm-1">{{{checkmark datosMedicos.puedeActividad}}}</div>
			</div>
			<div class="row">
				<div class="col-sm-4">Observaciones: </div>
				<div class="col-sm-8">{{datosMedicos.observaciones}}</div>
			</div>
		</div>
	</div>
</template>