<template name="fotoPerfilForm">
  <div class="text-center">
    <div class="foto-container">
      <img src="{{photoUrl}}" alt="" class="img-thumbnail foto_participante avatar" width="175px" height="175px">
        {{#if isUploading}}
          <div class="progress-container">  
            <div class="progress">
              <div class="progress-bar" style="width: {{progress}}%;"></div>
            </div>
          </div>
        {{/if}}
    </div>
  </div>
  <div class="text-center">
    <button type="button" class=" btn btn-xs btn-primary js-cambiar-foto">Cambiar</button>
  </div>
</template>