.foto-container {
  overflow: hidden;
  position: relative;
  /*width: 100%;*/
  margin: 0 auto;
  display: inline-block;
}

.foto-container .progress-container {
  background: rgba(0, 0, 0, 0.8);
  border-radius: 6px;
  height: 100%;
  width: 100%;
  position: absolute;
  right: 0;
  top: 0;
  padding: 4px;
  margin: auto;
  vertical-align: middle;
}

.foto-container .progress-container .progress {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}