<template name="Login">
	<div id="login-box">
		<h4>Bienvenid@ a El Desafío</h4>
		<div class="loginButtonsDiv">{{> atNavButton}}</div>
	</div>
</template>

<template name="_loginButtonsAdditionalLoggedInDropdownActions">
    <a href="{{pathFor route='staff.form' _id=usuarioLogueado }}" class="btn btn-default btn-block" id="login-buttons-edit-profile">Editar mi perfil</a>
</template>
