<template name="reporteIndicadoresInfoMaster">
	{{!-- Titulo --}}
	<div class="row">
		<h3 class="col-sm-6 col-sm-push-3" id="nombre-taller">{{ nombreParticipante }}
		</h3>
		<div class="col-sm-3 col-sm-push-3">
		</div>
	</div>

	<div class="row" id="info_taller">
		{{!-- Barra lateral --}}
		{{>yield "aside"}}
		{{!-- Contenido principal --}}
		<div class="col-sm-9">
		<div class="box_border">
			{{>yield "tallerInfo"}}
		</div>
		</div>
	</div> 
</template>