<template name="tallerIndicadores">
	{{!-- {{> quickForm collection="Talleres" doc=taller scope="indicadores" id="FormIndicadoresTaller" type='update-pushArray' }} --}}
	{{#if indicadores}}
		{{#each indicadores}}
			<h3 class="indicadores_h3">{{indicador}}</h3>
			{{#each preguntas}}
				<p>{{pregunta}}</p>
			{{/each}}
		{{/each}}
	{{else}}
		<p>No hay indicadores para este taller</p>
	{{/if}}
	{{!-- Este botón lo dejé para que solo me lo muestre a mí (Lucas) por seguridad. Así se evita que alguien agregue indicadores cuando ya hay un reporte completado, lo cual sería un problema. No tuve tiempo de implementar esta parte como se debe.  --}}
	{{#if userIsLucas }}
		<p class="text-center"><a href="{{pathFor route='taller.indicadoresForm'}}" class="btn btn-primary btn-md">Agregar indicadores</a></p>
	{{/if}}

</template>