<template name="tallerInfoMaster">
	{{!-- Titulo --}}
	<div class="row">
		<h3 class="col-sm-6 col-sm-push-3" id="nombre-taller">{{nombre}}
		{{#if isInRole 'admin'}}
			<a href="{{pathFor route='taller.form'}}" class="btn_acciones" data-toggle="tooltip" data-placement="top" title="Modificar">
			<span class="fui-new"></span>
			</a>
		{{/if}}
 		{{!-- <a href="" class="btn_acciones" data-toggle="tooltip" data-placement="top" title="Borrar">
		<span class="fui-trash"></span>
		</a> --}}
		</h3>
		<div class="col-sm-3 col-sm-push-3">
		</div>
	</div>

	<div class="row" id="info_taller">
		{{!-- Barra lateral --}}
		{{>yield "aside"}}
		{{!-- Contenido principal --}}
		<div class="col-sm-9">
		<div class="box_border">
			{{>yield "tallerInfo"}}
		</div>
		</div>
	</div> 
</template>