<template name="tallerDiarioForm">
	
	{{#if esInsert }}
	<h5>Agregar evento al diario</h5>
		{{#autoForm collection="Talleres" doc=taller scope="diario" id="FormDiarioTaller" type='update-pushArray' }}
			<div class="row">
				{{> afQuickField name='fecha' label-class="col-sm-2" input-col-class="col-sm-4" template="bootstrap3-horizontal" placeholder="schemaLabel" }}
			</div>
			<div class="row">
				{{> afQuickField name='titulo' label-class="col-sm-2" input-col-class="col-sm-10" template="bootstrap3-horizontal" placeholder="schemaLabel" }}
			</div>
			<div class="row">
				{{> afQuickField name='descripcion' label-class="col-sm-2" input-col-class="col-sm-10" template="bootstrap3-horizontal" placeholder="schemaLabel" rows=6 }}
			</div>
			<p class="text-center">
				<br>
				<a href="{{pathFor route='taller.diario'}}" class="btn btn-default">Cancelar</a>
				<button type="submit" class="btn btn-primary">Agregar</button>
			</p>
		{{/autoForm}}
	
	{{else}}
	<h5>Modificar evento del diario</h5>
		{{#autoForm collection="Talleres" doc=taller id="FormDiarioTaller" type='update' setArrayItems=true }}
			<div class="row">
				{{> afQuickField name=evento.fecha label-class="col-sm-2" input-col-class="col-sm-4" template="bootstrap3-horizontal" placeholder="schemaLabel" }}
			</div>
			<div class="row">
				{{> afQuickField name=evento.titulo label-class="col-sm-2" input-col-class="col-sm-10" template="bootstrap3-horizontal" placeholder="schemaLabel" }}
			</div>
			<div class="row">
				{{> afQuickField name=evento.descripcion label-class="col-sm-2" input-col-class="col-sm-10" template="bootstrap3-horizontal" placeholder="schemaLabel" rows=6 }}
			</div>
			<p class="text-center">
				<br>
				<a href="{{pathFor route='taller.diario'}}" class="btn btn-default">Cancelar</a>
				<button type="submit" class="btn btn-primary">Modificar</button>
			</p>
		{{/autoForm}}

	{{/if}}


</template>