<template name="tallerInfo">
	<div class="row">
		<div class="col-sm-6">
			<div class="row">
				<div class="col-sm-4">Talleristas:</div>
				<div class="col-sm-8">
					{{#each talleristas}}
						<span class="label label-primary">{{ getUserName this}}</span>
					{{/each}}
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4">Voluntarios:</div>
				<div class="col-sm-8">
					{{#each voluntarios}}
						<span class="label label-default">{{ getUserName this}}</span>
					{{/each}}

				</div>
			</div>
			<div class="row">
				<div class="col-sm-4">Cupo:</div>
				<div class="col-sm-8">{{cupo}}</div>
			</div>

			<div class="row">
				<div class="col-sm-4">Edad:</div>
				<div class="col-sm-8">
					{{edadDesde}} a {{edadHasta}} años
				</div>
			</div>

			<div class="row">
				<div class="col-sm-4">Sexo:</div>
				<div class="col-sm-8">{{sexo}}</div>
			</div>
			<div class="row">
				<div class="col-sm-4">Día y hora:</div>
				<div class="col-sm-8">
					{{#each diaHora}}
						<small><em>{{dia}} de {{formatTimeTaller horaInicio}} a {{formatTimeTaller horaFin}} hs.</em></small><br>
					{{/each}}
				</div>
			</div>
		</div>
		<div class="col-sm-6">
			{{> highchartsHelper tallerId=_id chartId="graphAsistenciaTaller" chartWidth="100%" charHeight="100%" chartObject=graphAsistenciaTaller}}
		</div>
	</div>
	<div class="row">
		<h6 class="h6-new">Participantes</h6>
	</div>
	<div class="row">
		<div class="col-sm-5 table-responsive">
			<p class="text-center titulo_tablas_participantes_taller">Activos</p>
			<table class="footable table table-striped table-bordered table-hover">
				<thead>
				<tr>
					<th data-sort-ignore="true">Nombre</th>
				</tr>
				</thead>
				<tbody>
					{{#each participantesActivos}}
						<tr>
							<td><a href="{{pathFor route='participante.info'}}" class="noDecoration">{{apellido}}, {{nombre}}</a></td>
						</tr>        
					{{/each}}
				</tbody>
			</table>
			<p class=""><small>Participantes activos: <strong class="cantidad">{{contarCollection participantesActivos}}</strong></small></p>
		</div>

		<div class="col-sm-1"></div>

		<div class="col-sm-6 table-responsive">
			<p class="text-center titulo_tablas_participantes_taller">En lista de espera</p>
			<table class="footable table table-striped table-bordered table-hover tabla_lista_espera">
				<thead>
				<tr>
					<th class="text-center" data-sort-ignore="true">#</th>
					<th data-sort-ignore="true">Nombre</th>
					{{!-- <?php if (userRole() <= 10): ?> --}}
					<th data-sort-ignore="true"></th>
					{{!-- <?php endif; ?> --}}
				</tr>
				</thead>
				<tbody>
					{{#each participantesEspera}}
						<tr>
							<td class="text-center num_lista_espera">{{index}}</td>
							<td><a href="{{pathFor route='participante.info'}}" class="noDecoration">{{ getApellidoNombre _id}}</a></td>
							<td class="botones_lista_espera text-center">
								{{#if isInRole 'admin'}}
									{{#if notLastIndex index}}
										<a href="#" class="btnParticipantesEsperaDown noDecoration" data-toggle="tooltip" data-placement="top" title="Bajar">
											<span class="glyphicon glyphicon-chevron-down"></span>
										</a>
									{{/if}}
									{{#if notFirstIndex index}}
										<a href="#" class="btnParticipantesEsperaUp noDecoration" data-toggle="tooltip" data-placement="top" title="Subir">
											<span class="glyphicon glyphicon-chevron-up"></span>
										</a>
									{{/if}}
										<a href="#" class="btnParticipantesEsperaBorrar noDecoration" data-toggle="tooltip" data-placement="top" title="Borrar de la lista de espera">
											<span class="fui-trash"></span>
										</a>
								{{/if}}
							</td>
						</tr>        
					{{/each}}
				</tbody>
			</table>
			<p class=""><small>En lista de espera: <strong class="cantidad">{{contarArray participantesEspera}}</strong></small></p>
		</div>
	</div>
</template>