<template name="tallerReporteIndicadoresParticipante">
	{{#autoForm collection="ReportesIndicadoresParticipantes" id="formReportesIndicadoresParticipantes" doc=doc type="update" template="bootstrap3-horizontal" }}
		<h3 class="indicadores_h3 row">Area Comunicación + Respeto + Conflicto</h3>
		<div class="row highlight">{{> afQuickField name='area1_1' label-class="col-sm-9" input-col-class="col-sm-3" }}</div>
		<div class="row highlight">{{> afQuickField name='area1_2' label-class="col-sm-9" input-col-class="col-sm-3" }}</div>
		<div class="row highlight">{{> afQuickField name='area1_3' label-class="col-sm-9" input-col-class="col-sm-3" }}</div>
		<div class="row highlight">{{> afQuickField name='area1_4' label-class="col-sm-9" input-col-class="col-sm-3" }}</div>
		<div class="row highlight">{{> afQuickField name='area1_5' label-class="col-sm-9" input-col-class="col-sm-3" }}</div>
		<div class="row highlight">{{> afQuickField name='area1_6' label-class="col-sm-9" input-col-class="col-sm-3" }}</div>
		<div class="row highlight">{{> afQuickField name='area1_7' label-class="col-sm-9" input-col-class="col-sm-3" }}</div>
		<div class="row"><div class="col-sm-12">{{> afQuickField name='area1_comentario' }}</div></div>
		
		<h3 class="indicadores_h3 row">Area Trabajo en Equipo + Pertenencia + Adueñarse + Compromiso + Liderazgo</h3>
		<div class="row highlight">{{> afQuickField name='area2_1' label-class="col-sm-9" input-col-class="col-sm-3" }}</div>
		<div class="row highlight">{{> afQuickField name='area2_2' label-class="col-sm-9" input-col-class="col-sm-3" }}</div>
		<div class="row highlight">{{> afQuickField name='area2_3' label-class="col-sm-9" input-col-class="col-sm-3" }}</div>
		<div class="row highlight">{{> afQuickField name='area2_4' label-class="col-sm-9" input-col-class="col-sm-3" }}</div>
		<div class="row highlight">{{> afQuickField name='area2_5' label-class="col-sm-9" input-col-class="col-sm-3" }}</div>
		<div class="row highlight">{{> afQuickField name='area2_6' label-class="col-sm-9" input-col-class="col-sm-3" }}</div>
		<div class="row highlight">{{> afQuickField name='area2_7' label-class="col-sm-9" input-col-class="col-sm-3" }}</div>
		<div class="row highlight">{{> afQuickField name='area2_8' label-class="col-sm-9" input-col-class="col-sm-3" }}</div>
		<div class="row highlight">{{> afQuickField name='area2_9' label-class="col-sm-9" input-col-class="col-sm-3" }}</div>
		<div class="row highlight">{{> afQuickField name='area2_10' label-class="col-sm-9" input-col-class="col-sm-3" }}</div>
		<div class="row highlight">{{> afQuickField name='area2_11' label-class="col-sm-9" input-col-class="col-sm-3" }}</div>
		<div class="row highlight">{{> afQuickField name='area2_12' label-class="col-sm-9" input-col-class="col-sm-3" }}</div>
		<div class="row"><div class="col-sm-12">{{> afQuickField name='area2_comentario' }}</div></div>

		
		<h3 class="indicadores_h3 row">Area Autoestima + Confianza + Frustración + Identidad + Superación</h3>
		<div class="row highlight">{{> afQuickField name='area3_1' label-class="col-sm-9" input-col-class="col-sm-3" }}</div>
		<div class="row highlight">{{> afQuickField name='area3_2' label-class="col-sm-9" input-col-class="col-sm-3" }}</div>
		<div class="row highlight">{{> afQuickField name='area3_3' label-class="col-sm-9" input-col-class="col-sm-3" }}</div>
		<div class="row highlight">{{> afQuickField name='area3_4' label-class="col-sm-9" input-col-class="col-sm-3" }}</div>
		<div class="row highlight">{{> afQuickField name='area3_5' label-class="col-sm-9" input-col-class="col-sm-3" }}</div>
		<div class="row highlight">{{> afQuickField name='area3_6' label-class="col-sm-9" input-col-class="col-sm-3" }}</div>
		<div class="row highlight">{{> afQuickField name='area3_7' label-class="col-sm-9" input-col-class="col-sm-3" }}</div>
		<div class="row highlight">{{> afQuickField name='area3_8' label-class="col-sm-9" input-col-class="col-sm-3" }}</div>
		<div class="row highlight">{{> afQuickField name='area3_9' label-class="col-sm-9" input-col-class="col-sm-3" }}</div>
		<div class="row"><div class="col-sm-12">{{> afQuickField name='area3_comentario' }}</div></div>

		<div class="text-center">
			<a href="{{pathFor route='taller.reporteIndicadores' _id=doc.tallerId reporteindicadoresid=doc.reporteIndicadoresId }}" class="btn btn-default">Cancelar</a>
		
			<button type="submit" class="btn btn-primary">Aceptar</button>
		</div>


	{{/autoForm}}
</template>