<template name="tallerInfoAside">
	<ul class="nav nav-list nav-list-vivid col-sm-3">
		<li class="{{isActiveRoute regex='taller.info'}}"><a href="{{pathFor route='taller.info'}}">Información General</a></li>
		<li class="{{isActiveRoute regex='taller.asistencias'}}"><a href="{{pathFor route='taller.asistencias'}}">Asistencias</a></li>
		<li class="{{isActiveRoute regex='taller.diario'}}"><a href="{{pathFor route='taller.diario'}}">Diario</a></li>
		<li class="{{isActiveRoute regex='taller.objetivo'}}"><a href="{{pathFor route='taller.objetivo'}}">Objetivos</a></li>
		<li class="{{isActiveRoute regex='taller.indicadores'}}"><a href="{{pathFor route='taller.indicadores'}}">Indicadores</a></li>
		<li class="{{isActiveRoute regex='taller.reporte'}}"><a href="{{pathFor route='taller.reportes'}}">Completar reportes<span class="label label-danger label-reportes">{{cantidadReportesACompletar}}</span></a></li>
	</ul>
</template>