<template name="tallerForm">
	<h4>Agregar/Modificar Programa</h4>
	<div class="box_border">
	{{#autoForm collection="Talleres" id="FormTaller" doc=taller type=formTallerAction }}
		<fieldset>
			<div class="row">
				{{!-- Columna de la izquierda --}}
				<div class="col-sm-4">
					<div class="row">
						{{> afQuickField name='nombre' label-class="col-sm-3" input-col-class="col-sm-9" template="bootstrap3-horizontal" placeholder="schemaLabel" }}
					</div>
					<div class="row">
						{{> afQuickField name='cupo' label-class="col-sm-3" input-col-class="col-sm-9" template="bootstrap3-horizontal" placeholder="schemaLabel" }}
					</div>

					<div class="row">
					<div class="form-group">
						<label class="col-sm-3 control-label">Edad</label>
						<div class="no-gutter">
							<div class="col-sm-9 no-gutter">
								<label class="col-sm-1 control-label text-center"></label>
								<label class="col-sm-1 control-label text-center">de</label>
								<div class="col-sm-3">
									{{> afQuickField name='edadDesde' label-class="sr-only" template="bootstrap3-horizontal" }}
								</div>
								<label class="col-sm-1 control-label text-center">a</label>
								<div class="col-sm-3">
									{{> afQuickField name='edadHasta' label-class="sr-only" template="bootstrap3-horizontal" }}
								</div>
								<label class="col-sm-2 control-label text-center">años</label>
							</div>
						</div>
					</div>
					</div>
					<div class="row">
						<div class="form-group">
							{{> afQuickField name='edadAnoCalendario' label-class="col-sm-9 edadAnoCalendario" input-col-class="col-sm-3" template="bootstrap3-horizontal-switch" }}
						</div>
					</div>						
					<div class="row">
						{{> afQuickField name='sexo' label-class="col-sm-3" input-col-class="col-sm-9" template="bootstrap3-horizontal" placeholder="schemaLabel" }}
					</div>
				</div>
				{{!-- Columna de la derecha --}}
				<div class="col-sm-8" id="fix-for-dias">
					{{> afQuickField name='diaHora' label-class="sr-only" template="bootstrap3-horizontal-dias"  placeholder="schemaLabel" }}
				</div>
			</div> <!-- Fin Row -->

			<div class="row">
				<div class="col-sm-6">
					{{> afQuickField name='talleristas' label-class="col-sm-3" input-col-class="col-sm-9" template="bootstrap3-horizontal" placeholder="schemaLabel" }}
				</div>
				<div class="col-sm-6">
					{{> afQuickField name='voluntarios' label-class="col-sm-3" input-col-class="col-sm-9" template="bootstrap3-horizontal" placeholder="schemaLabel"  }}
				</div>
			</div>

			{{!-- Row de objetivos --}}
			<div class="row row-objetivo">
				<div class="col-sm-1">
					<label class="control-label small">Objetivos:</label>
				</div>
				<div class="col-sm-11">
					{{> afQuickField name='objetivo' label-class="sr-only" }}
				</div>
			</div>
			<br>
 		</fieldset>
 		<div class="text-center">
 			{{#if tallerId }}
 				<a href="{{pathFor route='taller.info' _id=tallerId }}" class="btn btn-default">Cancelar</a>
 			{{else}}
 				<a href="{{pathFor route='talleres.home'}}" class="btn btn-default">Cancelar</a>
 			{{/if}}
 			
 			<button type="submit" class="btn btn-primary">{{botonFormTaller}}</button>
 		</div>
 		{{/autoForm}}
	</div>

</template>