<template name="tallerReporteObjetivos">
	<div class="row">
		<div class="col-sm-6 table-responsive">
			<p><strong>Reporte por Objetivos {{formatFechaReporte fecha}}</strong></p>
			<table class="footable table table-striped table-bordered table-hover" data-filter=#filter_search>
				<thead>
					<tr>
						<th data-sort-initial="true">Participante</th>
						<th data-sort-ignore="true" class="text-center">¿Completado?</th>
					</tr>
				</thead>
				<tbody>
				{{#each participantes}}
					<tr>
						<td><a href="{{pathFor route='taller.reporteObjetivosParticipante' _id=../_id reporteobjetivosparticipanteid=_id }}">{{apellidoNombre participanteId}}</a></td>
						<td class="text-center">{{{checkmark completado}}}</td>
					</tr>
				{{else}}
					<tr>
						<td class="text-center" colspan="2"><p class="text-danger">No hay reportes que completar en este momento</p></td>
					</tr>
				{{/each}}	
				</tbody>
			</table>
			<a href="#" class="btn btn-primary marcarReporteObjetivosCompletado">Marcar reporte como completado</a>
		</div>
	   
	</div>
</template>