<template name="tallerHomeRow">
	<tr>
		<td class="colListaPrincipal">
			<a href="{{pathFor route='taller.info'}}" class="noDecoration">{{nombre}}</a>
		</td>
		<td class="text-center">{{asistenciaPTotal}}</td>
		<td class="text-center">{{cuposDisponibles}} <small>/ {{cupo}}</small></td>
		<td class="text-center">{{ contarArray participantesActivos}} <small>/ {{ contarArray participantesEspera}}</small></td>
		<td class="text-center">{{edadDesde}} a {{edadHasta}} años</td>
	</tr>
</template>