<template name="talleresHome">
	<div id="wrapper">
		<div class="row">
			<h3 class="col-sm-9">Programas
				{{#if isInRole 'admin'}}
					<a href="{{pathFor route='taller.form'}}" class="btn btn-primary btn-xs btn-agregar" data-toggle="tooltip" data-placement="top" title="Agregar programa"><span class="fui-plus"></span></a>
				{{/if}}
			</h3>
			<div class="col-sm-3">
				<div class="form-group">
					<div class="input-group" id="filter_div">
					  <input type="search" class="form-control" placeholder="Buscar" id="filter_search">
					  <span class="input-group-btn">
						  <button type="submit" class="btn"><span class="fui-search"></span></button>
					  </span>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 table-responsive">
				<table class="footable table table-striped table-bordered table-hover tabla-talleres" data-filter=#filter_search>
					<thead>
						<tr>
							<th data-sort-initial="true">Nombre</th>
							<th class="text-center" data-sort-ignore="true">Asistencias</th>
							<th class="text-center" data-sort-ignore="true">
								Cupos<br>
								<small>disponibles / <span>totales</span></small>
							</th>
							<th class="text-center" data-sort-ignore="true">
								Participantes<br>
								<small>activos / <span>en espera</span></small>
							</th>
							<th class="text-center" data-sort-ignore="true">Edad</th>
						</tr>
					</thead>
					<tbody>
					{{#each talleres}}
						{{> tallerHomeRow}}
					{{else}}
						<tr>
							<td colspan="5" class="text-center"><p class="text-danger">No hay Programas que mostrar</p></td>
						</tr>
					{{/each}}	
					</tbody>
				</table>
				<p class=""><small>Cantidad de Programas: <strong class="cantidad">{{contarCollection talleres}}</strong></small></p>
			</div>
		   
		</div>
	</div>
</template>
