<template name="tallerReportes">
	<div class="row">
		<div class="col-sm-6 table-responsive">
			<table class="footable table table-striped table-bordered table-hover" data-filter=#filter_search>
				<thead>
					<tr>
						<th data-sort-ignore="true">Reportes a completar</th>
					</tr>
				</thead>
				<tbody>
				{{#each reportesIndicadoresACompletar}}
					<tr>
						<td><a href="{{pathFor route='taller.reporteIndicadores' _id=../_id reporteindicadoresid=_id }}">Por indicadores - {{formatFechaReporte fecha}}</a></td>
					</tr>
				{{!-- {{else}}
					<tr>
						<td class="text-center"><p class="text-danger">No hay reportes que completar en este momento</p></td>
					</tr> --}}
				{{/each}}

				{{#each reportesObjetivosACompletar}}
					<tr>
						<td><a href="{{pathFor route='taller.reporteObjetivos' _id=../_id reporteobjetivosid=_id }}">Por objetivos - {{formatFechaReporte fecha}}</a></td>
					</tr>
				{{/each}}	

				</tbody>
			</table>
			<p class=""><small>Cantidad de reportes: <strong class="cantidad">{{reportesACompletar}}</strong></small></p>
		</div>
	   
	</div>

</template>