<template name="tallerDiarioEvento">
	<h5>Información del evento</h5>
	<div>
		<div class="row">
			<span class="col-sm-2"><strong>Fecha:</strong></span>
			<div class="col-sm-10">
				{{formatFechaHora evento.fecha}}
			</div>
		</div>
		<div class="row">
			<span class="col-sm-2"><strong>Título:</strong></span>
			<div class="col-sm-10">
				{{evento.titulo}}
			</div>
		</div>
		<div class="row">
			<span class="col-sm-2"><strong>Descripción:</strong></span>
			<div class="col-sm-10">
				{{evento.descripcion}}
			</div>
		</div>
	<br>
	<p class="text-center">
		<a href="{{pathFor route='taller.diario'}}" class="btn btn-default btn-md">Volver</a>
		
		{{#if isInRole 'admin'}}
			<a href="{{pathFor route='taller.diarioForm' index=evento.index}}" class="btn btn-primary btn-md">Modificar</a>
		{{/if}}

	</p>
	</div>

</template>