<template name="tallerAsistenciasForm">
	<div class="row">
		{{#autoForm collection="Clases" id="FormAsistenciaTaller" doc=claseToUpdate type=FormAsistenciaTallerType }}
			<div class="row">
				<div class="col-sm-6">
					{{> afQuickField name='fecha' label-class="col-sm-2" input-col-class="col-sm-6" template="bootstrap3-horizontal" placeholder="schemaLabel" }}
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<div class="col-sm-8 div_scroll">
						<table class="table footable table-striped table-bordered table-hover table-condensed tabla_form_asistencias">
							<thead>
								<tr>
									<th data-sort-initial="true" class="column_alumno">Alumno</th>
									<th data-sort-ignore="true" class="column_asistencia_form">Asistencia</th>
								</tr>
							</thead>
							<tbody>
								{{#each participantesAsistencia}}
									<tr class="{{classInactivo}}">
										<td class="column_alumno">{{apellido}}, {{nombre}}</td>
										<td class="column_asistencia_form">
											{{> afQuickField name=nameAsistencia type="select-radio" template="buttonGroup" label=false }}
											{{!-- {{> afQuickField name=nameTemp template="buttonGroupClase" label=false }} --}}
											<a href="#" class="reset-asistencia"><span class="glyphicon glyphicon-refresh"></span></a>
											<div class="hide">
												{{> afQuickField name=nameId label-class="col-sm-3" input-col-class="col-sm-9" template="bootstrap3-horizontal" placeholder="schemaLabel" participanteIdInput=_id }}
											</div>
										</td>
									</tr>
								{{/each}}
							</tbody>
						</table>
					</div>
				</div>
			</div>

		<div class="text-center">
			<a href="{{pathFor route='taller.asistencias'}}" class="btn btn-default">Cancelar</a>
			<button type="submit" class="btn btn-primary">Agregar</button>
		</div>

		{{/autoForm}}
	 </div>
</template>