<template name="tallerReporteObjetivosParticipante">
	{{#autoForm collection="ReportesObjetivosParticipantes" id="formReportesObjetivosParticipantes" doc=doc type="update" template="bootstrap3-horizontal" }}
		{{#each indicadoresFormHelper}}
			<h3 class="indicadores_h3 row">{{indicador}}</h3>
			{{#each preguntas}}
				<div class="row highlight">
				    {{> afQuickField name=fieldNameRespuesta label=pregunta id=preguntaId label-class="col-sm-9" input-col-class="col-sm-3" }}
				</div>
				<div class="hide">{{> afQuickField name=fieldNamePreguntaId label=false value=preguntaId}}</div>

			{{/each}}
		{{/each}}
		<br>
		<div class="text-center">
			<a href="{{pathFor route='taller.reporteObjetivos' _id=doc.tallerId reporteobjetivosid=doc.reporteObjetivosId }}" class="btn btn-default">Cancelar</a>
		
			<button type="submit" class="btn btn-primary">Aceptar</button>
		</div>


	{{/autoForm}}
</template>