<template name="tallerAsistencias">
	{{!-- Row del boton y filtros --}}	
	<div class="row">
		<div class="col-sm-5">
			{{#if esAdminTalleristaVoluntarioDelTaller currentUser _id}}
				<a href="{{pathFor route='taller.asistenciasForm'}}" class="btn btn-primary btn-md">Agregar Estímulo</a>
			{{/if}}
		</div>
		<div class="col-sm-1">
			<a href="#" class="btn btn-xs btn-primary btn-filtros">filtros</a>
		</div>
		<div class="col-sm-3">
			<select name="select_mes" id="select_mes" class="select-block mbl select_mes selectized">
				<option class="qwerty" value="todo">Todo el año</option>
				<option class="qwerty" value="0">Enero</option>
				<option class="qwerty" value="1">Febrero</option>
				<option class="qwerty" value="2">Marzo</option>
				<option class="qwerty" value="3">Abril</option>
				<option class="qwerty" value="4">Mayo</option>
				<option class="qwerty" value="5">Junio</option>
				<option class="qwerty" value="6">Julio</option>
				<option class="qwerty" value="7">Agosto</option>
				<option class="qwerty" value="8">Septiembre</option>
				<option class="qwerty" value="9">Octubre</option>
				<option class="qwerty" value="10">Noviembre</option>
				<option class="qwerty" value="11">Diciembre</option>
			</select>

		</div>
		<div class="col-sm-3">
		    <div class="form-group">
		        <div class="input-group">
		          <input type="search" class="form-control" placeholder="Buscar" id="filter_search">
		          <span class="input-group-btn">
		              <button type="submit" class="btn"><span class="fui-search"></span></button>
		          </span>
		        </div>
		    </div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12">
			<div class="row filters-wrapper">
				<div class="col-sm-4 bordered">
					<p><strong>Misceláneas</strong></p>
					<div class="form-group">
						<label class="checkbox" for="verInactivosAsistencia">
							<input type="checkbox" data-toggle="checkbox" value="" id="verInactivosAsistencia" {{verInactivosAsistencia}}>
							Mostrar inactivos
						</label>
					</div>
				</div>
			</div>
		</div>
	</div>



	{{!-- Row de la tabla --}}
	<div class="row">
		<div class="col-sm-12 div_scroll">
			<div class="table-responsive div_scroll">
				<table class="table footable table-striped table-bordered table-hover table-condensed tabla_asistencias" data-filter=#filter_search>
					<thead>
						<tr>
							<th data-sort-ignore="true"></th>
							<th data-sort-initial="true">Participante</th>
							<th data-type="numeric">Totales</th>
							{{#each clases}}
								<th data-sort-ignore="true" class="column_clase">
									<small>
									{{formatFechaClaseDiaTxt fecha}}<br>
									{{formatFechaClaseDiaNum fecha}} {{formatFechaClaseMes fecha}}<br>
									{{formatFechaClaseAno fecha}}
									</small>
									{{#if esAdminTalleristaVoluntarioDelTaller currentUser ../_id}}
										{{#if esOwnerClaseNoPasoSemana currentUser _id ../_id}}
											<div class="editar-clase">
												 <a href="{{pathFor route='taller.asistenciasForm' _id=../_id claseId=_id }}"><span class="fui-new"></span></a>
												 {{#if esAdminTalleristaDelTaller currentUser ../_id}}
												 <a href="#" id="borrarClase"><span class="fui-trash"></span></a>
												 {{/if}}
											</div>
										{{/if}}
									{{/if}}
								</th>
							{{/each}}
						</tr>
					</thead>
					<tbody>
						{{#each participantesActivos}}
						<tr class="{{classInactivo}}">
							<td class="columna_foto">
								{{#with FS.GetFile "images" foto}}
								  <img src="{{this.url store='imagesStore'}}" alt="{{../nombre}}, {{../apellido}}" class="img-circle foto_tabla" width="40px" height="40px">
								{{/with}}
							</td>
							<td class="column_alumno"><a href="{{pathFor route='participante.info' _id=_id }}">{{apellido}}, {{nombre}}</a></td>
							<td class="alumno_totales">{{asistenciaTotal}}</td>
							{{#each clases}}
								<td data-sort-ignore="true" class="column_clase {{getColorAsistencia ../_id}}">
									{{getAsistenciaParticipanteClase ../_id}}
								</td>
							{{/each}}
						</tr>
						{{/each}}
						{{#each participantesInactivos}}
						<tr class="{{classInactivo}}">
							<td class="columna_foto">
								{{#with FS.GetFile "images" foto}}
								  <img src="{{this.url store='imagesStore'}}" alt="{{../nombre}}, {{../apellido}}" class="img-circle foto_tabla" width="40px" height="40px">
								{{/with}}
							</td>
							<td class="column_alumno"><a href="{{pathFor route='participante.info' _id=_id }}">{{apellido}}, {{nombre}}</a></td>
							<td class="alumno_totales">{{asistenciaTotal}}</td>
							{{#each clases}}
								<td data-sort-ignore="true" class="column_clase {{getColorAsistencia ../_id}}">
									{{getAsistenciaParticipanteClase ../_id}}
								</td>
							{{/each}}
						</tr>
						{{/each}}

					</tbody>
				</table>
				<p><small>Cantidad de participantes activos: <strong>{{contarCollection participantesActivos}}</strong></small></p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<div class="box_border">
				{{> highchartsHelper tallerId=_id chartId="graphAsistenciaMeses" chartWidth="100%" charHeight="100%" chartObject=graphAsistenciaMeses}}
			</div>
		</div>
	</div>
</template>